In [1]:
# Importing Libraries
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_excel("Data Example.xlsx")
df.head()

,Date,Time,Open,High,Low,Last,ATR,FractalSell,FractalWk,OpenTrade,StopLoss,TakeProfit,Close Trade
0,'2007/12/3','00:00:00.0',2.05389,2.06793,2.01811,2.03040,0.04982,0.0,NaN,2.05389,0.0,6.16167,0.0
1,'2007/12/10','00:00:00.0',2.03025,2.05785,2.01483,2.01776,0.04642,0.0,0.0,2.05389,0.0,6.16167,0.0
2,'2007/12/17','00:00:00.0',2.01475,2.02285,1.98105,1.98357,0.04488,0.0,0.0,2.05389,0.0,6.16167,0.0
3,'2007/12/24','00:00:00.0',1.98365,2.00234,1.97565,1.99696,0.04033,0.0,0.0,2.05389,0.0,6.16167,0.0
4,'2007/12/31','00:00:00.0',1.99488,2.01028,1.96738,1.97374,0.04085,0.0,0.0,2.05389,0.0,6.16167,0.0

In [6]:
df = df.iloc[:,2:9]
df.head()

      Open     High      Low     Last      ATR  FractalSell  FractalWk
0  2.05389  2.06793  2.01811  2.03040  0.04982          0.0        NaN
1  2.03025  2.05785  2.01483  2.01776  0.04642          0.0        0.0
2  2.01475  2.02285  1.98105  1.98357  0.04488          0.0        0.0
3  1.98365  2.00234  1.97565  1.99696  0.04033          0.0        0.0
4  1.99488  2.01028  1.96738  1.97374  0.04085          0.0        0.0

In [8]:
Open = df['Open']
High = df['High']
Low = df['Low']
Last = df['Last']
ATR = df['ATR']
FractalSell = df['FractalSell']
FractalWk = df['FractalWk']
len(Open),len(High),len(Low),len(Last),len(ATR),len(FractalSell),len(FractalWk)

(594, 594, 594, 594, 594, 594, 594)

The StopLoss column equals the current FractalWk column if the previous row of the CloseTrade column is not zero otherwise it equals the previous value in its own column


the Take Profit equals the distance away from OpenTrade and StopLoss times two added to OpenTrade if the previous row of the CloseTrade column is not zero otherwise it equals the previous value in its own column


CloseTrade column equals StopLoss minus OpenTrade if current Low column is lower than StopLoss else if High is greater than TakeProfit then it equals TakeProfit mnus OpenTrade else it equals zero.

In [21]:
OpenTrade = []
Stoploss = []
TakeProfit = []
CloseTrade = []

for i in range(len(Open)):
    if i==0:
        OpenTrade.append(Open[i])
        Stoploss.append(0)
        TakeProfit.append(OpenTrade[i] + ((OpenTrade[i] - 0) *2))
        CloseTrade.append(0)
        #print(OpenTrade,Stoploss,TakeProfit,CloseTrade)
        
    else: 
        if CloseTrade[i-1] != 0:
            OpenTrade.append(Open[i])
            Stoploss.append(FractalWk[i])
            TakeProfit.append(OpenTrade[i] + ((OpenTrade[i] - Stoploss[i]) *2))
        else:
            OpenTrade.append(OpenTrade[i-1])
            Stoploss.append(Stoploss[i-1])
            TakeProfit.append(TakeProfit[i-1])

        if Low[i]< Stoploss[i]:
            CloseTrade.append(Stoploss[i]-OpenTrade[i])
        elif High[i]> TakeProfit[i]:
            CloseTrade.append(TakeProfit[i]-OpenTrade[i])
        else:
            CloseTrade.append(0)

        if (i ==50):
            break

In [22]:
print(OpenTrade,Stoploss,TakeProfit,CloseTrade)

[2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389, 2.05389] [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0] [6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167, 6.16167] [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [13]:
OpenTrade[0]

2.05389