In [1]:
# Importing Libraries
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#reading data
data = pd.read_csv('nutrition.csv')
print(data.head(5))

   YearStart  YearEnd LocationAbbr LocationDesc  \
0       2014     2014           GU         Guam
1       2013     2013           US     National
2       2013     2013           US     National
3       2015     2015           US     National
4       2015     2015           GU         Guam

                                   Datasource                    Class  \
0  Behavioral Risk Factor Surveillance System  Obesity / Weight Status
1  Behavioral Risk Factor Surveillance System  Obesity / Weight Status
2  Behavioral Risk Factor Surveillance System  Obesity / Weight Status
3  Behavioral Risk Factor Surveillance System        Physical Activity
4  Behavioral Risk Factor Surveillance System        Physical Activity

                          Topic  \
0       Obesity / Weight Status
1       Obesity / Weight Status
2       Obesity / Weight Status
3  Physical Activity - Behavior
4  Physical Activity - Behavior

                                            Question  Data_Value_Unit  \
0  Percent of adults aged 18 years and older who ...              NaN
1  Percent of adults aged 18 years and older who ...              NaN
2  Percent of adults aged 18 years and older who ...              NaN
3  Percent of adults who achieve at least 300 min...              NaN
4  Percent of adults who achieve at least 150 min...              NaN

  Data_Value_Type  ...              GeoLocation  ClassID TopicID QuestionID  \
0           Value  ...  (13.444304, 144.793731)      OWS    OWS1       Q036
1           Value  ...                      NaN      OWS    OWS1       Q036
2           Value  ...                      NaN      OWS    OWS1       Q037
3           Value  ...                      NaN       PA     PA1       Q045
4           Value  ...  (13.444304, 144.793731)       PA     PA1       Q044

   DataValueTypeID  LocationID  StratificationCategory1       Stratification1  \
0            VALUE          66                Education  High school graduate
1            VALUE          59                   Income     $50,000 - $74,999
2            VALUE          59                   Income     Data not reported
3            VALUE          59                   Income     Less than $15,000
4            VALUE          66           Race/Ethnicity              Hispanic

  StratificationCategoryId1 StratificationID1
0                       EDU         EDUHSGRAD
1                       INC           INC5075
2                       INC             INCNR
3                       INC         INCLESS15
4                      RACE           RACEHIS

[5 rows x 33 columns]

In [4]:
data.shape

(80929, 33)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80929 entries, 0 to 80928
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   80929 non-null  int64
 1   YearEnd                     80929 non-null  int64
 2   LocationAbbr                80929 non-null  object
 3   LocationDesc                80929 non-null  object
 4   Datasource                  80929 non-null  object
 5   Class                       80929 non-null  object
 6   Topic                       80929 non-null  object
 7   Question                    80929 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             80929 non-null  object
 10  Data_Value                  72965 non-null  float64
 11  Data_Value_Alt              72965 non-null  float64
 12  Data_Value_Footnote_Symbol  7964 non-null   object
 13  Data_Value_Footnote         7964 non-null   object
 14  Low_Confidence_Limit        72965 non-null  float64
 15  High_Confidence_Limit       72965 non-null  float64
 16  Sample_Size                 72965 non-null  float64
 17  Total                       2890 non-null   object
 18  Age(years)                  17340 non-null  object
 19  Education                   11560 non-null  object
 20  Gender                      5780 non-null   object
 21  Income                      20230 non-null  object
 22  Race/Ethnicity              23120 non-null  object
 23  GeoLocation                 79417 non-null  object
 24  ClassID                     80929 non-null  object
 25  TopicID                     80929 non-null  object
 26  QuestionID                  80929 non-null  object
 27  DataValueTypeID             80929 non-null  object
 28  LocationID                  80929 non-null  int64
 29  StratificationCategory1     80920 non-null  object
 30  Stratification1             80920 non-null  object
 31  StratificationCategoryId1   80920 non-null  object
 32  StratificationID1           80920 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 20.4+ MB