Importing all the libraries I will be needing in the project :

In [2]:
pip install tweepy

Collecting tweepy
  Downloading tweepy-4.10.1-py3-none-any.whl (94 kB)
     |████████████████████████████████| 94 kB 1.6 MB/s eta 0:00:01
Requirement already satisfied: requests<3,>=2.27.0 in /Users/asadtariq/opt/anaconda3/envs/pythonProject/lib/python3.7/site-packages (from tweepy) (2.27.1)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /Users/asadtariq/opt/anaconda3/envs/pythonProject/lib/python3.7/site-packages (from tweepy) (1.3.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /Users/asadtariq/opt/anaconda3/envs/pythonProject/lib/python3.7/site-packages (from tweepy) (3.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/asadtariq/opt/anaconda3/envs/pythonProject/lib/python3.7/site-packages (from requests<3,>=2.27.0->tweepy) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/asadtariq/opt/anaconda3/envs/pythonProject/lib/python3.7/site-packages (from requests<3,>=2.27.0->tweepy) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /Users/asadtariq/opt/anaconda3/envs/pythonProject/lib/python3.7/site-packages (from requests<3,>=2.27.0->tweepy) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/asadtariq/opt/anaconda3/envs/pythonProject/lib/python3.7/site-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Installing collected packages: tweepy
Successfully installed tweepy-4.10.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
import requests
import json
import os
from bs4 import BeautifulSoup
import tweepy
import io
import warnings
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

In [5]:
#hiding all the warnings I might come across later on
warnings.filterwarnings('ignore')

# Gather
Importing the twitter_archives csv file which I downloaded manually, into a pandas dataframe :

In [6]:
twitter_archives = pd.read_csv('twitter-archive-enhanced.csv')

Dowloading the image predictions file programmatically :

In [7]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

Writing this url content to a file on memory :

In [8]:
with open(url.split('/')[-1], 'wb') as file:
    file.write(response.content)

Reading in a tsv file containing the breed predictions derived from all the dog images in the tweets :

In [9]:
image_predictions = pd.read_csv('image-predictions.tsv', sep = '\t')

In [10]:
consumer_key = 'YOUR CONSUMER KEY'
consumer_secret = 'YOUR CONSUMER SECRET'
access_token = 'YOUR ACCESS TOKEN'
access_secret = 'YOUR ACCESS SECRET'

Set up an application where I got my consumer key and secret and on connecting it to my twitter account I got my access token and secret as well.

Creating an api object by using the tweepy.API class, to query the twitter API :

In [11]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

In [13]:
api = tweepy.API(auth, wait_on_rate_limit = True)

Creating a list of all the tweet ids in the twitter archives dataset :

In [14]:
tweet_ids_list = list(twitter_archives['tweet_id'])

Getting access to the content of all the tweets by using tweepy's get_status method on their respective ids and writing the json data of all those tweets to a text file with each tweet's json data on its own line :

In [15]:
del_tweet_ids = []
start_time = datetime.now()
with open('tweet_json.txt', 'a') as f:
    for tweet_id in tweet_ids_list:
        try:
            tweet = api.get_status(tweet_id, tweet_mode = 'extended')
            json.dump( tweet._json, f)
            f.write('\n')
            print(tweet_id)
        except:
            del_tweet_ids.append(tweet_id)
            print(tweet_id)
time_elapsed = datetime.now() - start_time
print('Time elapsed (hh:mm:ss.ms) {}'.format(time_elapsed))

892420643555336193
892177421306343426
891815181378084864
891689557279858688
891327558926688256
891087950875897856
890971913173991426
890729181411237888
890609185150312448
890240255349198849
890006608113172480
889880896479866881
889665388333682689
889638837579907072
889531135344209921
889278841981685760
888917238123831296
888804989199671297
888554962724278272
888202515573088257
888078434458587136
887705289381826560
887517139158093824
887473957103951883
887343217045368832
887101392804085760
886983233522544640
886736880519319552
886680336477933568
886366144734445568
886267009285017600
886258384151887873
886054160059072513
885984800019947520
885528943205470208
885518971528720385
885311592912609280
885167619883638784
884925521741709313
884876753390489601
884562892145688576
884441805382717440
884247878851493888
884162670584377345
883838122936631299
883482846933004288
883360690899218434
883117836046086144
882992080364220416
882762694511734784
882627270321602560
882268110199369728
882045870035918850
881906580714921986
881666595344535552
881633300179243008
881536004380872706
881268444196462592
880935762899988482
880872448815771648
880465832366813184
880221127280381952
880095782870896641
879862464715927552
879674319642796034
879492040517615616
879415818425184262
879376492567855104
879130579576475649
879050749262655488
879008229531029506
878776093423087618
878604707211726852
878404777348136964
878316110768087041
878281511006478336
878057613040115712
877736472329191424
877611172832227328
877556246731214848
877316821321428993
877201837425926144
876838120628539392
876537666061221889
876484053909872640
876120275196170240
875747767867523072
875144289856114688
875097192612077568
875021211251597312
874680097055178752
874434818259525634
874296783580663808
874057562936811520
874012996292530176
873697596434513921
873580283840344065
873337748698140672
873213775632977920
872967104147763200
872820683541237760
872668790621863937
872620804844003328
872486979161796608
872261713294495745
872122724285648897
871879754684805121
871762521631449091
871515927908634625
871166179821445120
871102520638267392
871032628920680449
870804317367881728
870726314365509632
870656317836468226
870374049280663552
870308999962521604
870063196459192321
869988702071779329
869772420881756160
869702957897576449
869596645499047938
869227993411051520
868880397819494401
868639477480148993
868622495443632128
868552278524837888
867900495410671616
867774946302451713
867421006826221569
867072653475098625
867051520902168576
866816280283807744
866720684873056260
866686824827068416
866450705531457537
866334964761202691
866094527597207552
865718153858494464
865359393868664832
865006731092295680
864873206498414592
864279568663928832
864197398364647424
863907417377173506
863553081350529029
863471782782697472
863432100342583297
863427515083354112
863079547188785154
863062471531167744
862831371563274240
862722525377298433
862457590147678208
862096992088072192
861769973181624320
861383897657036800
861288531465048066
861005113778896900
860981674716409858
860924035999428608
860563773140209665
860524505164394496
860276583193509888
860184849394610176
860177593139703809
859924526012018688
859851578198683649
859607811541651456
859196978902773760
859074603037188101
858860390427611136
858843525470990336
858471635011153920
858107933456039936
857989990357356544
857746408056729600
857393404942143489
857263160327368704
857214891891077121
857062103051644929
857029823797047296
856602993587888130
856543823941562368
856526610513747968
856330835276025856
856288084350160898
856282028240666624
855862651834028034
855860136149123072
855857698524602368
855851453814013952
855818117272018944
855459453768019968
855245323840757760
855138241867124737
854732716440526848
854482394044301312
854365224396361728
854120357044912130
854010172552949760
853760880890318849
853639147608842240
853299958564483072
852936405516943360
852912242202992640
852672615818899456
852553447878664193
852311364735569921
852226086759018497
852189679701164033
851953902622658560
851861385021730816
851591660324737024
851464819735769094
851224888060895234
850753642995093505
850380195714523136
850333567704068097
850145622816686080
850019790995546112
849776966551130114
849668094696017920
849412302885593088
849336543269576704
849051919805034497
848690551926992896
848324959059550208
848213670039564288
848212111729840128
847978865427394560
847971574464610304
847962785489326080
847842811428974592
847617282490613760
847606175596138505
847251039262605312
847157206088847362
847116187444137987
846874817362120707
846514051647705089
846505985330044928
846153765933735936
846139713627017216
846042936437604353
845812042753855489
845677943972139009
845459076796616705
845397057150107648
845306882940190720
845098359547420673
844979544864018432
844973813909606400
844704788403113984
844580511645339650
844223788422217728
843981021012017153
843856843873095681
843604394117681152
843235543001513987
842892208864923648
842846295480000512
842765311967449089
842535590457499648
842163532590374912
842115215311396866
841833993020538882
841680585030541313
841439858740625411
841320156043304961
841314665196081154
841077006473256960
840761248237133825
840728873075638272
840698636975636481
840696689258311684
840632337062862849
840370681858686976
840268004936019968
839990271299457024
839549326359670784
839290600511926273
839239871831150596
838952994649550848
838921590096166913
838916489579200512
838831947270979586
838561493054533637
838476387338051585
838201503651401729
838150277551247360
838085839343206401
838083903487373313
837820167694528512
837482249356513284
837471256429613056
837366284874571778
837110210464448512
837012587749474308
836989968035819520
836753516572119041
836677758902222849
836648853927522308
836397794269200385
836380477523124226
836260088725786625
836001077879255040
835685285446955009
835574547218894849
835536468978302976
835309094223372289
835297930240217089
835264098648616962
835246439529840640
835172783151792128
835152434251116546
834931633769889797
834786237630337024
834574053763584002
834477809192075265
834458053273591808
834209720923721728
834167344700198914
834089966724603904
834086379323871233
833863086058651648
833826103416520705
833732339549220864
833722901757046785
833479644947025920
833124694597443584
832998151111966721
832769181346996225
832757312314028032
832682457690300417
832645525019123713
832636094638288896
832397543355072512
832369877331693569
832273440279240704
832215909146226688
832215726631055365
832088576586297345
832040443403784192
832032802820481025
831939777352105988
831926988323639298
831911600680497154
831670449226514432
831650051525054464
831552930092285952
831322785565769729
831315979191906304
831309418084069378
831262627380748289
830956169170665475
830583320585068544
830173239259324417
830097400375152640
829878982036299777
829861396166877184
829501995190984704
829449946868879360
829374341691346946
829141528400556032
829011960981237760
828801551087042563
828770345708580865
828708714936930305
828650029636317184
828409743546925057
828408677031882754
828381636999917570
828376505180889089
828372645993398273
828361771580813312
828046555563323392
828011680017821696
827933404142436356
827653905312006145
827600520311402496
827324948884643840
827228250799742977
827199976799354881
826958653328592898
826848821049180160
826615380357632002
826598799820865537
826598365270007810
826476773533745153
826240494070030336
826204788643753985
826115272272650244
825876512159186944
825829644528148480
825535076884762624
825147591692263424
825120256414846976
825026590719483904
824796380199809024
824775126675836928
824663926340194305
824325613288833024
824297048279236611
824025158776213504
823939628516474880
823719002937630720
823699002998870016
823581115634085888
823333489516937216
823322678127919110
823269594223824897
822975315408461824
822872901745569793
822859134160621569
822647212903690241
822610361945911296
822489057087389700
822462944365645825
822244816520155136
822163064745328640
821886076407029760
821813639212650496
821765923262631936
821522889702862852
821421320206483457
821407182352777218
821153421864615936
821149554670182400
821107785811234820
821044531881721856
820837357901512704
820749716845686786
820690176645140481
820494788566847489
820446719150292993
820314633777061888
820078625395449857
820013781606658049
819952236453363712
819924195358416896
819711362133872643
819588359383371776
819347104292290561
819238181065359361
819227688460238848
819015337530290176
819015331746349057
819006400881917954
819004803107983360
818646164899774465
818627210458333184
818614493328580609
818588835076603904
818536468981415936
818307523543449600
818259473185828864
818145370475810820
817908911860748288
817827839487737858
817777686764523521
817536400337801217
817502432452313088
817423860136083457
817415592588222464
817181837579653120
817171292965273600
817120970343411712
817056546584727552
816829038950027264
816816676327063552
816697700272001025
816450570814898180
816336735214911488
816091915477250048
816062466425819140
816014286006976512
815990720817401858
815966073409433600
815745968457060357
815736392542261248
815639385530101762
815390420867969024
814986499976527872
814638523311648768
814578408554463233
814530161257443328
814153002265309185
813944609378369540
813910438903693312
813812741911748608
813800681631023104
813217897535406080
813202720496779264
813187593374461952
813172488309972993
813157409116065792
813142292504645637
813130366689148928
813127251579564032
813112105746448384
813096984823349248
813081950185472002
813066809284972545
813051746834595840
812781120811126785
812747805718642688
812709060537683968
812503143955202048
812466873996607488
812372279581671427
811985624773361665
811744202451197953
811647686436880384
811627233043480576
811386762094317568
810984652412424192
810896069567610880
810657578271330305
810284430598270976
810254108431155201
809920764300447744
809808892968534016
809448704142938112
809220051211603969
809084759137812480
808838249661788160
808733504066486276
808501579447930884
808344865868283904
808134635716833280
808106460588765185
808001312164028416
807621403335917568
807106840509214720
807059379405148160
807010152071229440
806629075125202948
806620845233815552
806576416489959424
806542213899489280
806242860592926720
806219024703037440
805958939288408065
805932879469572096
805826884734976000
805823200554876929
805520635690676224
805487436403003392
805207613751304193
804738756058218496
804475857670639616
804413760345620481
804026241225523202
803773340896923648
803692223237865472
803638050916102144
803380650405482500
803321560782307329
803276597545603072
802952499103731712
802624713319034886
802600418706604034
802572683846291456
802323869084381190
802265048156610565
802247111496568832
802239329049477120
802185808107208704
801958328846974976
801854953262350336
801538201127157760
801285448605831168
801167903437357056
801127390143516673
801115127852503040
800859414831898624
800855607700029440
800751577355128832
800513324630806528
800459316964663297
800443802682937345
800388270626521089
800188575492947969
800141422401830912
800018252395122689
799774291445383169
799757965289017345
799422933579902976
799308762079035393
799297110730567681
799063482566066176
798933969379225600
798925684722855936
798705661114773508
798701998996647937
798697898615730177
798694562394996736
798686750113755136
798682547630837760
798673117451325440
798665375516884993
798644042770751489
798628517273620480
798585098161549313
798576900688019456
798340744599797760
798209839306514432
797971864723324932
797545162159308800
797236660651966464
797165961484890113
796904159865868288
796865951799083009
796759840936919040
796563435802726400
796484825502875648
796387464403357696
796177847564038144
796149749086875649
796125600683540480
796116448414461957
796080075804475393
796031486298386433
795464331001561088
795400264262053889
795076730285391872
794983741416415232
794926597468000259
794355576146903043
794332329137291264
794205286408003585
793962221541933056
793845145112371200
793614319594401792
793601777308463104
793500921481273345
793286476301799424
793271401113350145
793256262322548741
793241302385262592
793226087023144960
793210959003287553
793195938047070209
793180763617361921
793165685325201412
793150605191548928
793135492858580992
793120401413079041
792913359805018113
792883833364439040
792773781206999040
792394556390137856
792050063153438720
791821351946420224
791784077045166082
791780927877898241
791774931465953280
791672322847637504
791406955684368384
791312159183634433
791026214425268224
790987426131050500
790946055508652032
790723298204217344
790698755171364864
790581949425475584
790337589677002753
790277117346975746
790227638568808452
789986466051088384
789960241177853952
789903600034189313
789628658055020548
789599242079838210
789530877013393408
789314372632018944
789280767834746880
789268448748703744
789137962068021249
788908386943430656
788765914992902144
788552643979468800
788412144018661376
788178268662984705
788150585577050112
788070120937619456
788039637453406209
787810552592695296
787717603741622272
787397959788929025
787322443945877504
787111942498508800
786963064373534720
786729988674449408
786709082849828864
786664955043049472
786595970293370880
786363235746385920
786286427768250368
786233965241827333
786051337297522688
786036967502913536
785927819176054784
785872687017132033
785639753186217984
785533386513321988
785515384317313025
785264754247995392
785170936622350336
784826020293709826
784517518371221505
784431430411685888
784183165795655680
784057939640352768
783839966405230592
783821107061198850
783695101801398276
783466772167098368
783391753726550016
783347506784731136
783334639985389568
783085703974514689
782969140009107456
782747134529531904
782722598790725632
782598640137187329
782305867769217024
782021823840026624
781955203444699136
781661882474196992
781655249211752448
781524693396357120
781308096455073793
781251288990355457
781163403222056960
780931614150983680
780858289093574656
780800785462489090
780601303617732608
780543529827336192
780496263422808064
780476555013349377
780459368902959104
780192070812196864
780092040432480260
780074436359819264
779834332596887552
779377524342161408
779124354206535695
779123168116150273
779056095788752897
778990705243029504
778774459159379968
778764940568104960
778748913645780993
778650543019483137
778624900596654080
778408200802557953
778396591732486144
778383385161035776
778286810187399168
778039087836069888
778027034220126208
777953400541634568
777885040357281792
777684233540206592
777641927919427584
777621514455814149
777189768882946048
776819012571455488
776813020089548800
776477788987613185
776249906839351296
776218204058357768
776201521193218049
776113305656188928
776088319444877312
775898661951791106
775842724423557120
775733305207554048
775729183532220416
775364825476165632
775350846108426240
775096608509886464
775085132600442880
774757898236878852
774639387460112384
774314403806253056
773985732834758656
773922284943896577
773704687002451968
773670353721753600
773547596996571136
773336787167145985
773308824254029826
773247561583001600
773191612633579521
772877495989305348
772826264096874500
772615324260794368
772581559778025472
772193107915964416
772152991789019136
772117678702071809
772114945936949249
772102971039580160
771908950375665664
771770456517009408
771500966810099713
771380798096281600
771171053431250945
771136648247640064
771102124360998913
771014301343748096
771004394259247104
770787852854652928
770772759874076672
770743923962707968
770655142660169732
770414278348247044
770293558247038976
770093767776997377
770069151037685760
769940425801170949
769695466921623552
769335591808995329
769212283578875904
768970937022709760
768909767477751808
768855141948723200
768609597686943744
768596291618299904
768554158521745409
768473857036525572
768193404517830656
767884188863397888
767754930266464257
767500508068192258
767191397493538821
767122157629476866
766864461642756096
766793450729734144
766714921925144576
766693177336135680
766423258543644672
766313316352462849
766078092750233600
766069199026450432
766008592277377025
765719909049503744
765669560888528897
765395769549590528
765371061932261376
765222098633691136
764857477905154048
764259802650378240
763956972077010945
763837565564780549
763183847194451968
763167063695355904
763103485927849985
762699858130116608
762471784394268675
762464539388485633
762316489655476224
762035686371364864
761976711479193600
761750502866649088
761745352076779520
761672994376806400
761599872357261312
761371037149827077
761334018830917632
761292947749015552
761227390836215808
761004547850530816
760893934457552897
760656994973933572
760641137271070720
760539183865880579
760521673607086080
760290219849637889
760252756032651264
760190180481531904
760153949710192640
759943073749200896
759923798737051648
759846353224826880
759793422261743616
759566828574212096
759557299618865152
759447681597108224
759446261539934208
759197388317847553
759159934323924993
759099523532779520
759047813560868866
758854675097526272
758828659922702336
758740312047005698
758474966123810816
758467244762497024
758405701903519748
758355060040593408
758099635764359168
758041019896193024
757741869644341248
757729163776290825
757725642876129280
757611664640446465
757597904299253760
757596066325864448
757400162377592832
757393109802180609
757354760399941633
756998049151549440
756939218950160384
756651752796094464
756526248105566208
756303284449767430
756288534030475264
756275833623502848
755955933503782912
755206590534418437
755110668769038337
754874841593970688
754856583969079297
754747087846248448
754482103782404096
754449512966619136
754120377874386944
754011816964026368
753655901052166144
753420520834629632
753398408988139520
753375668877008896
753298634498793472
753294487569522689
753039830821511168
753026973505581056
752932432744185856
752917284578922496
752701944171524096
752682090207055872
752660715232722944
752568224206688256
752519690950500352
752334515931054080
752309394570878976
752173152931807232
751950017322246144
751937170840121344
751830394383790080
751793661361422336
751598357617971201
751583847268179968
751538714308972544
751456908746354688
751251247299190784
751205363882532864
751132876104687617
750868782890057730
750719632563142656
750506206503038976
750429297815552001
750383411068534784
750381685133418496
750147208377409536
750132105863102464
750117059602808832
750101899009982464
750086836815486976
750071704093859840
750056684286914561
750041628174217216
750026558547456000
750011400160841729
749996283729883136
749981277374128128
749774190421639168
749417653287129088
749403093750648834
749395845976588288
749317047558017024
749075273010798592
749064354620928000
749036806121881602
748977405889503236
748932637671223296
748705597323898880
748699167502000129
748692773788876800
748575535303884801
748568946752774144
748346686624440324
748337862848962560
748324050481647620
748307329658011649
748220828303695873
747963614829678593
747933425676525569
747885874273214464
747844099428986880
747816857231626240
747651430853525504
747648653817413632
747600769478692864
747594051852075008
747512671126323200
747461612269887489
747439450712596480
747242308580548608
747219827526344708
747204161125646336
747103485104099331
746906459439529985
746872823977771008
746818907684614144
746790600704425984
746757706116112384
746726898085036033
746542875601690625
746521445350707200
746507379341139972
746369468511756288
746131877086527488
746056683365994496
745789745784041472
745712589599014916
745433870967832576
745422732645535745
745314880350101504
745074613265149952
745057283344719872
744995568523612160
744971049620602880
744709971296780288
744334592493166593
744234799360020481
744223424764059648
743980027717509120
743895849529389061
743835915802583040
743609206067040256
743595368194129920
743545585370791937
743510151680958465
743253157753532416
743222593470234624
743210557239623680
742534281772302336

In [16]:
del_tweet_ids

[892420643555336193,
 892177421306343426,
 891815181378084864,
 891689557279858688,
 891327558926688256,
 891087950875897856,
 890971913173991426,
 890729181411237888,
 890609185150312448,
 890240255349198849,
 890006608113172480,
 889880896479866881,
 889665388333682689,
 889638837579907072,
 889531135344209921,
 889278841981685760,
 888917238123831296,
 888804989199671297,
 888554962724278272,
 888202515573088257,
 888078434458587136,
 887705289381826560,
 887517139158093824,
 887473957103951883,
 887343217045368832,
 887101392804085760,
 886983233522544640,
 886736880519319552,
 886680336477933568,
 886366144734445568,
 886267009285017600,
 886258384151887873,
 886054160059072513,
 885984800019947520,
 885528943205470208,
 885518971528720385,
 885311592912609280,
 885167619883638784,
 884925521741709313,
 884876753390489601,
 884562892145688576,
 884441805382717440,
 884247878851493888,
 884162670584377345,
 883838122936631299,
 883482846933004288,
 883360690899218434,
 883117836046086144,
 882992080364220416,
 882762694511734784,
 882627270321602560,
 882268110199369728,
 882045870035918850,
 881906580714921986,
 881666595344535552,
 881633300179243008,
 881536004380872706,
 881268444196462592,
 880935762899988482,
 880872448815771648,
 880465832366813184,
 880221127280381952,
 880095782870896641,
 879862464715927552,
 879674319642796034,
 879492040517615616,
 879415818425184262,
 879376492567855104,
 879130579576475649,
 879050749262655488,
 879008229531029506,
 878776093423087618,
 878604707211726852,
 878404777348136964,
 878316110768087041,
 878281511006478336,
 878057613040115712,
 877736472329191424,
 877611172832227328,
 877556246731214848,
 877316821321428993,
 877201837425926144,
 876838120628539392,
 876537666061221889,
 876484053909872640,
 876120275196170240,
 875747767867523072,
 875144289856114688,
 875097192612077568,
 875021211251597312,
 874680097055178752,
 874434818259525634,
 874296783580663808,
 874057562936811520,
 874012996292530176,
 873697596434513921,
 873580283840344065,
 873337748698140672,
 873213775632977920,
 872967104147763200,
 872820683541237760,
 872668790621863937,
 872620804844003328,
 872486979161796608,
 872261713294495745,
 872122724285648897,
 871879754684805121,
 871762521631449091,
 871515927908634625,
 871166179821445120,
 871102520638267392,
 871032628920680449,
 870804317367881728,
 870726314365509632,
 870656317836468226,
 870374049280663552,
 870308999962521604,
 870063196459192321,
 869988702071779329,
 869772420881756160,
 869702957897576449,
 869596645499047938,
 869227993411051520,
 868880397819494401,
 868639477480148993,
 868622495443632128,
 868552278524837888,
 867900495410671616,
 867774946302451713,
 867421006826221569,
 867072653475098625,
 867051520902168576,
 866816280283807744,
 866720684873056260,
 866686824827068416,
 866450705531457537,
 866334964761202691,
 866094527597207552,
 865718153858494464,
 865359393868664832,
 865006731092295680,
 864873206498414592,
 864279568663928832,
 864197398364647424,
 863907417377173506,
 863553081350529029,
 863471782782697472,
 863432100342583297,
 863427515083354112,
 863079547188785154,
 863062471531167744,
 862831371563274240,
 862722525377298433,
 862457590147678208,
 862096992088072192,
 861769973181624320,
 861383897657036800,
 861288531465048066,
 861005113778896900,
 860981674716409858,
 860924035999428608,
 860563773140209665,
 860524505164394496,
 860276583193509888,
 860184849394610176,
 860177593139703809,
 859924526012018688,
 859851578198683649,
 859607811541651456,
 859196978902773760,
 859074603037188101,
 858860390427611136,
 858843525470990336,
 858471635011153920,
 858107933456039936,
 857989990357356544,
 857746408056729600,
 857393404942143489,
 857263160327368704,
 857214891891077121,
 857062103051644929,
 857029823797047296,
 856602993587888130,
 856543823941562368,
 856526610513747968,
 856330835276025856,
 856288084350160898,
 856282028240666624,
 855862651834028034,
 855860136149123072,
 855857698524602368,
 855851453814013952,
 855818117272018944,
 855459453768019968,
 855245323840757760,
 855138241867124737,
 854732716440526848,
 854482394044301312,
 854365224396361728,
 854120357044912130,
 854010172552949760,
 853760880890318849,
 853639147608842240,
 853299958564483072,
 852936405516943360,
 852912242202992640,
 852672615818899456,
 852553447878664193,
 852311364735569921,
 852226086759018497,
 852189679701164033,
 851953902622658560,
 851861385021730816,
 851591660324737024,
 851464819735769094,
 851224888060895234,
 850753642995093505,
 850380195714523136,
 850333567704068097,
 850145622816686080,
 850019790995546112,
 849776966551130114,
 849668094696017920,
 849412302885593088,
 849336543269576704,
 849051919805034497,
 848690551926992896,
 848324959059550208,
 848213670039564288,
 848212111729840128,
 847978865427394560,
 847971574464610304,
 847962785489326080,
 847842811428974592,
 847617282490613760,
 847606175596138505,
 847251039262605312,
 847157206088847362,
 847116187444137987,
 846874817362120707,
 846514051647705089,
 846505985330044928,
 846153765933735936,
 846139713627017216,
 846042936437604353,
 845812042753855489,
 845677943972139009,
 845459076796616705,
 845397057150107648,
 845306882940190720,
 845098359547420673,
 844979544864018432,
 844973813909606400,
 844704788403113984,
 844580511645339650,
 844223788422217728,
 843981021012017153,
 843856843873095681,
 843604394117681152,
 843235543001513987,
 842892208864923648,
 842846295480000512,
 842765311967449089,
 842535590457499648,
 842163532590374912,
 842115215311396866,
 841833993020538882,
 841680585030541313,
 841439858740625411,
 841320156043304961,
 841314665196081154,
 841077006473256960,
 840761248237133825,
 840728873075638272,
 840698636975636481,
 840696689258311684,
 840632337062862849,
 840370681858686976,
 840268004936019968,
 839990271299457024,
 839549326359670784,
 839290600511926273,
 839239871831150596,
 838952994649550848,
 838921590096166913,
 838916489579200512,
 838831947270979586,
 838561493054533637,
 838476387338051585,
 838201503651401729,
 838150277551247360,
 838085839343206401,
 838083903487373313,
 837820167694528512,
 837482249356513284,
 837471256429613056,
 837366284874571778,
 837110210464448512,
 837012587749474308,
 836989968035819520,
 836753516572119041,
 836677758902222849,
 836648853927522308,
 836397794269200385,
 836380477523124226,
 836260088725786625,
 836001077879255040,
 835685285446955009,
 835574547218894849,
 835536468978302976,
 835309094223372289,
 835297930240217089,
 835264098648616962,
 835246439529840640,
 835172783151792128,
 835152434251116546,
 834931633769889797,
 834786237630337024,
 834574053763584002,
 834477809192075265,
 834458053273591808,
 834209720923721728,
 834167344700198914,
 834089966724603904,
 834086379323871233,
 833863086058651648,
 833826103416520705,
 833732339549220864,
 833722901757046785,
 833479644947025920,
 833124694597443584,
 832998151111966721,
 832769181346996225,
 832757312314028032,
 832682457690300417,
 832645525019123713,
 832636094638288896,
 832397543355072512,
 832369877331693569,
 832273440279240704,
 832215909146226688,
 832215726631055365,
 832088576586297345,
 832040443403784192,
 832032802820481025,
 831939777352105988,
 831926988323639298,
 831911600680497154,
 831670449226514432,
 831650051525054464,
 831552930092285952,
 831322785565769729,
 831315979191906304,
 831309418084069378,
 831262627380748289,
 830956169170665475,
 830583320585068544,
 830173239259324417,
 830097400375152640,
 829878982036299777,
 829861396166877184,
 829501995190984704,
 829449946868879360,
 829374341691346946,
 829141528400556032,
 829011960981237760,
 828801551087042563,
 828770345708580865,
 828708714936930305,
 828650029636317184,
 828409743546925057,
 828408677031882754,
 828381636999917570,
 828376505180889089,
 828372645993398273,
 828361771580813312,
 828046555563323392,
 828011680017821696,
 827933404142436356,
 827653905312006145,
 827600520311402496,
 827324948884643840,
 827228250799742977,
 827199976799354881,
 826958653328592898,
 826848821049180160,
 826615380357632002,
 826598799820865537,
 826598365270007810,
 826476773533745153,
 826240494070030336,
 826204788643753985,
 826115272272650244,
 825876512159186944,
 825829644528148480,
 825535076884762624,
 825147591692263424,
 825120256414846976,
 825026590719483904,
 824796380199809024,
 824775126675836928,
 824663926340194305,
 824325613288833024,
 824297048279236611,
 824025158776213504,
 823939628516474880,
 823719002937630720,
 823699002998870016,
 823581115634085888,
 823333489516937216,
 823322678127919110,
 823269594223824897,
 822975315408461824,
 822872901745569793,
 822859134160621569,
 822647212903690241,
 822610361945911296,
 822489057087389700,
 822462944365645825,
 822244816520155136,
 822163064745328640,
 821886076407029760,
 821813639212650496,
 821765923262631936,
 821522889702862852,
 821421320206483457,
 821407182352777218,
 821153421864615936,
 821149554670182400,
 821107785811234820,
 821044531881721856,
 820837357901512704,
 820749716845686786,
 820690176645140481,
 820494788566847489,
 820446719150292993,
 820314633777061888,
 820078625395449857,
 820013781606658049,
 819952236453363712,
 819924195358416896,
 819711362133872643,
 819588359383371776,
 819347104292290561,
 819238181065359361,
 819227688460238848,
 819015337530290176,
 819015331746349057,
 819006400881917954,
 819004803107983360,
 818646164899774465,
 818627210458333184,
 818614493328580609,
 818588835076603904,
 818536468981415936,
 818307523543449600,
 818259473185828864,
 818145370475810820,
 817908911860748288,
 817827839487737858,
 817777686764523521,
 817536400337801217,
 817502432452313088,
 817423860136083457,
 817415592588222464,
 817181837579653120,
 817171292965273600,
 817120970343411712,
 817056546584727552,
 816829038950027264,
 816816676327063552,
 816697700272001025,
 816450570814898180,
 816336735214911488,
 816091915477250048,
 816062466425819140,
 816014286006976512,
 815990720817401858,
 815966073409433600,
 815745968457060357,
 815736392542261248,
 815639385530101762,
 815390420867969024,
 814986499976527872,
 814638523311648768,
 814578408554463233,
 814530161257443328,
 814153002265309185,
 813944609378369540,
 813910438903693312,
 813812741911748608,
 813800681631023104,
 813217897535406080,
 813202720496779264,
 813187593374461952,
 813172488309972993,
 813157409116065792,
 813142292504645637,
 813130366689148928,
 813127251579564032,
 813112105746448384,
 813096984823349248,
 813081950185472002,
 813066809284972545,
 813051746834595840,
 812781120811126785,
 812747805718642688,
 812709060537683968,
 812503143955202048,
 812466873996607488,
 812372279581671427,
 811985624773361665,
 811744202451197953,
 811647686436880384,
 811627233043480576,
 811386762094317568,
 810984652412424192,
 810896069567610880,
 810657578271330305,
 810284430598270976,
 810254108431155201,
 809920764300447744,
 809808892968534016,
 809448704142938112,
 809220051211603969,
 809084759137812480,
 808838249661788160,
 808733504066486276,
 808501579447930884,
 808344865868283904,
 808134635716833280,
 808106460588765185,
 808001312164028416,
 807621403335917568,
 807106840509214720,
 807059379405148160,
 807010152071229440,
 806629075125202948,
 806620845233815552,
 806576416489959424,
 806542213899489280,
 806242860592926720,
 806219024703037440,
 805958939288408065,
 805932879469572096,
 805826884734976000,
 805823200554876929,
 805520635690676224,
 805487436403003392,
 805207613751304193,
 804738756058218496,
 804475857670639616,
 804413760345620481,
 804026241225523202,
 803773340896923648,
 803692223237865472,
 803638050916102144,
 803380650405482500,
 803321560782307329,
 803276597545603072,
 802952499103731712,
 802624713319034886,
 802600418706604034,
 802572683846291456,
 802323869084381190,
 802265048156610565,
 802247111496568832,
 802239329049477120,
 802185808107208704,
 801958328846974976,
 801854953262350336,
 801538201127157760,
 801285448605831168,
 801167903437357056,
 801127390143516673,
 801115127852503040,
 800859414831898624,
 800855607700029440,
 800751577355128832,
 800513324630806528,
 800459316964663297,
 800443802682937345,
 800388270626521089,
 800188575492947969,
 800141422401830912,
 800018252395122689,
 799774291445383169,
 799757965289017345,
 799422933579902976,
 799308762079035393,
 799297110730567681,
 799063482566066176,
 798933969379225600,
 798925684722855936,
 798705661114773508,
 798701998996647937,
 798697898615730177,
 798694562394996736,
 798686750113755136,
 798682547630837760,
 798673117451325440,
 798665375516884993,
 798644042770751489,
 798628517273620480,
 798585098161549313,
 798576900688019456,
 798340744599797760,
 798209839306514432,
 797971864723324932,
 797545162159308800,
 797236660651966464,
 797165961484890113,
 796904159865868288,
 796865951799083009,
 796759840936919040,
 796563435802726400,
 796484825502875648,
 796387464403357696,
 796177847564038144,
 796149749086875649,
 796125600683540480,
 796116448414461957,
 796080075804475393,
 796031486298386433,
 795464331001561088,
 795400264262053889,
 795076730285391872,
 794983741416415232,
 794926597468000259,
 794355576146903043,
 794332329137291264,
 794205286408003585,
 793962221541933056,
 793845145112371200,
 793614319594401792,
 793601777308463104,
 793500921481273345,
 793286476301799424,
 793271401113350145,
 793256262322548741,
 793241302385262592,
 793226087023144960,
 793210959003287553,
 793195938047070209,
 793180763617361921,
 793165685325201412,
 793150605191548928,
 793135492858580992,
 793120401413079041,
 792913359805018113,
 792883833364439040,
 792773781206999040,
 792394556390137856,
 792050063153438720,
 791821351946420224,
 791784077045166082,
 791780927877898241,
 791774931465953280,
 791672322847637504,
 791406955684368384,
 791312159183634433,
 791026214425268224,
 790987426131050500,
 790946055508652032,
 790723298204217344,
 790698755171364864,
 790581949425475584,
 790337589677002753,
 790277117346975746,
 790227638568808452,
 789986466051088384,
 789960241177853952,
 789903600034189313,
 789628658055020548,
 789599242079838210,
 789530877013393408,
 789314372632018944,
 789280767834746880,
 789268448748703744,
 789137962068021249,
 788908386943430656,
 788765914992902144,
 788552643979468800,
 788412144018661376,
 788178268662984705,
 788150585577050112,
 788070120937619456,
 788039637453406209,
 787810552592695296,
 787717603741622272,
 787397959788929025,
 787322443945877504,
 787111942498508800,
 786963064373534720,
 786729988674449408,
 786709082849828864,
 786664955043049472,
 786595970293370880,
 786363235746385920,
 786286427768250368,
 786233965241827333,
 786051337297522688,
 786036967502913536,
 785927819176054784,
 785872687017132033,
 785639753186217984,
 785533386513321988,
 785515384317313025,
 785264754247995392,
 785170936622350336,
 784826020293709826,
 784517518371221505,
 784431430411685888,
 784183165795655680,
 784057939640352768,
 783839966405230592,
 783821107061198850,
 783695101801398276,
 783466772167098368,
 783391753726550016,
 783347506784731136,
 783334639985389568,
 783085703974514689,
 782969140009107456,
 782747134529531904,
 782722598790725632,
 782598640137187329,
 782305867769217024,
 782021823840026624,
 781955203444699136,
 781661882474196992,
 781655249211752448,
 781524693396357120,
 781308096455073793,
 781251288990355457,
 781163403222056960,
 780931614150983680,
 780858289093574656,
 780800785462489090,
 780601303617732608,
 780543529827336192,
 780496263422808064,
 780476555013349377,
 780459368902959104,
 780192070812196864,
 780092040432480260,
 780074436359819264,
 779834332596887552,
 779377524342161408,
 779124354206535695,
 779123168116150273,
 779056095788752897,
 778990705243029504,
 778774459159379968,
 778764940568104960,
 778748913645780993,
 778650543019483137,
 778624900596654080,
 778408200802557953,
 778396591732486144,
 778383385161035776,
 778286810187399168,
 778039087836069888,
 778027034220126208,
 777953400541634568,
 777885040357281792,
 777684233540206592,
 777641927919427584,
 777621514455814149,
 777189768882946048,
 776819012571455488,
 776813020089548800,
 776477788987613185,
 776249906839351296,
 776218204058357768,
 776201521193218049,
 776113305656188928,
 776088319444877312,
 775898661951791106,
 775842724423557120,
 775733305207554048,
 775729183532220416,
 775364825476165632,
 775350846108426240,
 775096608509886464,
 775085132600442880,
 774757898236878852,
 774639387460112384,
 774314403806253056,
 773985732834758656,
 773922284943896577,
 773704687002451968,
 773670353721753600,
 773547596996571136,
 773336787167145985,
 773308824254029826,
 773247561583001600,
 773191612633579521,
 772877495989305348,
 772826264096874500,
 772615324260794368,
 772581559778025472,
 772193107915964416,
 772152991789019136,
 772117678702071809,
 772114945936949249,
 772102971039580160,
 771908950375665664,
 771770456517009408,
 771500966810099713,
 771380798096281600,
 771171053431250945,
 771136648247640064,
 771102124360998913,
 771014301343748096,
 771004394259247104,
 770787852854652928,
 770772759874076672,
 770743923962707968,
 770655142660169732,
 770414278348247044,
 770293558247038976,
 770093767776997377,
 770069151037685760,
 769940425801170949,
 769695466921623552,
 769335591808995329,
 769212283578875904,
 768970937022709760,
 768909767477751808,
 768855141948723200,
 768609597686943744,
 768596291618299904,
 768554158521745409,
 768473857036525572,
 768193404517830656,
 767884188863397888,
 767754930266464257,
 767500508068192258,
 767191397493538821,
 767122157629476866,
 766864461642756096,
 766793450729734144,
 766714921925144576,
 766693177336135680,
 766423258543644672,
 766313316352462849,
 766078092750233600,
 766069199026450432,
 766008592277377025,
 765719909049503744,
 765669560888528897,
 765395769549590528,
 765371061932261376,
 765222098633691136,
 764857477905154048,
 764259802650378240,
 763956972077010945,
 763837565564780549,
 763183847194451968,
 763167063695355904,
 763103485927849985,
 762699858130116608,
 762471784394268675,
 762464539388485633,
 762316489655476224,
 762035686371364864,
 761976711479193600,
 761750502866649088,
 761745352076779520,
 761672994376806400,
 761599872357261312,
 761371037149827077,
 761334018830917632,
 761292947749015552,
 761227390836215808,
 761004547850530816,
 760893934457552897,
 760656994973933572,
 760641137271070720,
 760539183865880579,
 760521673607086080,
 760290219849637889,
 760252756032651264,
 760190180481531904,
 760153949710192640,
 759943073749200896,
 759923798737051648,
 759846353224826880,
 759793422261743616,
 759566828574212096,
 759557299618865152,
 759447681597108224,
 759446261539934208,
 759197388317847553,
 759159934323924993,
 759099523532779520,
 759047813560868866,
 758854675097526272,
 758828659922702336,
 758740312047005698,
 758474966123810816,
 758467244762497024,
 758405701903519748,
 758355060040593408,
 758099635764359168,
 758041019896193024,
 757741869644341248,
 757729163776290825,
 757725642876129280,
 757611664640446465,
 757597904299253760,
 757596066325864448,
 757400162377592832,
 757393109802180609,
 757354760399941633,
 756998049151549440,
 756939218950160384,
 756651752796094464,
 756526248105566208,
 756303284449767430,
 756288534030475264,
 756275833623502848,
 755955933503782912,
 755206590534418437,
 755110668769038337,
 754874841593970688,
 754856583969079297,
 754747087846248448,
 754482103782404096,
 754449512966619136,
 754120377874386944,
 754011816964026368,
 753655901052166144,
 753420520834629632,
 753398408988139520,
 753375668877008896,
 753298634498793472,
 753294487569522689,
 753039830821511168,
 753026973505581056,
 752932432744185856,
 752917284578922496,
 752701944171524096,
 752682090207055872,
 752660715232722944,
 752568224206688256,
 752519690950500352,
 752334515931054080,
 752309394570878976,
 752173152931807232,
 751950017322246144,

Now that I know the tweet ids of all the tweets that don't exist anymore, I will put them in a list for further use :

In [17]:
del_tweet_ids = ['888202515573088257', '873697596434513921', '869988702071779329', '866816280283807744', '861769973181624320',
                 '845459076796616705', '842892208864923648', '837012587749474308', '827228250799742977', '802247111496568832',
                 '775096608509886464']

Reading the text file I just created, line by line into an empty list. Also, since I am using the readline method here, each tweet's json is read into string form.

In [18]:
tweets_list = []
with open('tweet_json.txt') as f:
    for tweet_id in tweet_ids_list:
        if tweet_id not in del_tweet_ids:
            tweets_list.append(f.readline())

On checking out the tweets_list I found out that there were a few empty strings in there, so I removed them by using some list comprehension :

In [19]:
tweets_list_updated = [i for i in tweets_list if i != '']

Creating a list of dictionaries with each tweet's id, retweet count and favourite count. Since each tweet's json is in string form, I need to convert them first by using the json.loads method.

In [20]:
count_list = []
for e in tweets_list_updated:
    tweet_id = json.loads(e)['id']
    retweet_count = json.loads(e)['retweet_count']
    favourite_count = json.loads(e)['favorite_count']
    count_list.append({'tweet_id': tweet_id, 'retweet_count': retweet_count, 'favourite_count': favourite_count})

In [21]:
tweet_counts = pd.DataFrame(count_list, columns = ['tweet_id', 'retweet_count', 'favourite_count'])

In [22]:
tweet_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         2345 non-null   int64
 1   retweet_count    2345 non-null   int64
 2   favourite_count  2345 non-null   int64
dtypes: int64(3)
memory usage: 55.1 KB

So on checking out the dataframe, 2345 tweet ids remain out of the 2356 ids which were originally there in the twitter archives dataset. Now that I have gathered all the datasets I need, I will have to assess each one of them to resolve some of the quality and tidiness issues in them. A clean and properly structured dataset is vital for conducting good analysis.
# Assess

I will start with the twitter archives dataframe imported earlier.

In [23]:
#increasing the column width so that the whole text in the 'text' column is visible.
pd.set_option('display.max_colwidth', -1)

In [24]:
twitter_archives.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

On using my first function only, I can see that a lot of columns here have NaN values.

In [25]:
twitter_archives.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

There are a lot of columns here having more null values than non-null values and I don't even think if these columns will be of any use when it comes to conducting analysis or visualisations. Features like in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id aren't of much use here since all of them act as unique identifiers and we already have the tweet id column as the primary key here. This is actually a tidiness issue since these columns aren't really needed.

Also, tweet_id should be a string instead of an integer since I want it to be a primary key and anyways we won't be doing any calculations with it. The data type for the timestamp column should be datetime instead of string.

In [26]:
#filter out all the rows where retweeted_status_id is null
twitter_archives[- twitter_archives.retweeted_status_id.isnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,"https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1",13,10,Canela,None,None,None,None
32,886054160059072513,NaN,NaN,2017-07-15 02:45:48 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @Athletics: 12/10 #BATP https://t.co/WxwJmvjfxo,8.860537e+17,1.960740e+07,2017-07-15 02:44:07 +0000,"https://twitter.com/dog_rates/status/886053434075471873,https://twitter.com/dog_rates/status/886053434075471873",12,10,None,None,None,None,None
36,885311592912609280,NaN,NaN,2017-07-13 01:35:06 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Lilly. She just parallel barked. Kindly requests a reward now. 13/10 would pet so well https://t.co/SATN4If5H5,8.305833e+17,4.196984e+09,2017-02-12 01:04:29 +0000,"https://twitter.com/dog_rates/status/830583320585068544/photo/1,https://twitter.com/dog_rates/status/830583320585068544/photo/1,https://twitter.com/dog_rates/status/830583320585068544/photo/1,https://twitter.com/dog_rates/status/830583320585068544/photo/1",13,10,Lilly,None,None,None,None
68,879130579576475649,NaN,NaN,2017-06-26 00:13:58 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Emmy. She was adopted today. Massive round of pupplause for Emmy and her new family. 14/10 for all involved https://…,8.780576e+17,4.196984e+09,2017-06-23 01:10:23 +0000,"https://twitter.com/dog_rates/status/878057613040115712/photo/1,https://twitter.com/dog_rates/status/878057613040115712/photo/1",14,10,Emmy,None,None,None,None
73,878404777348136964,NaN,NaN,2017-06-24 00:09:53 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: Meet Shadow. In an attempt to reach maximum zooming borkdrive, he tore his ACL. Still 13/10 tho. Help him out below\n\nhttps:/…",8.782815e+17,4.196984e+09,2017-06-23 16:00:04 +0000,"https://www.gofundme.com/3yd6y1c,https://twitter.com/dog_rates/status/878281511006478336/photo/1",13,10,Shadow,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,746521445350707200,NaN,NaN,2016-06-25 01:52:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Shaggy. He knows exactly how to solve the puzzle but can't talk. All he wants to do is help. 10/10 great guy https:/…,6.678667e+17,4.196984e+09,2015-11-21 00:46:50 +0000,https://twitter.com/dog_rates/status/667866724293877760/photo/1,10,10,Shaggy,None,None,None,None
1043,743835915802583040,NaN,NaN,2016-06-17 16:01:16 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Extremely intelligent dog here. Has learned to walk like human. Even has his own dog. Very impressive 10/10 https://t.co/0Dv…,6.671383e+17,4.196984e+09,2015-11-19 00:32:12 +0000,https://twitter.com/dog_rates/status/667138269671505920/photo/1,10,10,None,None,None,None,None
1242,711998809858043904,NaN,NaN,2016-03-21 19:31:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @twitter: @dog_rates Awesome Tweet! 12/10. Would Retweet. #LoveTwitter https://t.co/j6FQGhxYuN,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,"https://twitter.com/twitter/status/711998279773347841/photo/1,https://twitter.com/twitter/status/711998279773347841/photo/1",12,10,None,None,None,None,None
2259,667550904950915073,NaN,NaN,2015-11-20 03:51:52 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>","RT @dogratingrating: Exceptional talent. Original humor. Cutting edge, Nova Scotian comedian. 12/10 https://t.co/uarnTjBeVA",6.675487e+17,4.296832e+09,2015-11-20 03:43:06 +0000,"https://twitter.com/dogratingrating/status/667548695664070656/photo/1,https://twitter.com/dogratingrating/status/667548695664070656/photo/1",12,10,None,None,None,None,None
2260,667550882905632768,NaN,NaN,2015-11-20 03:51:47 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",RT @dogratingrating: Unoriginal idea. Blatant plagiarism. Curious grammar. -5/10 https://t.co/r7XzeQZWzb,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,"https://twitter.com/dogratingrating/status/667548415174144001/photo/1,https://twitter.com/dogratingrating/status/667548415174144001/photo/1",5,10,None,None,None,None,None

This table lists out all the rows with retweets. These aren't really valid as they are duplicated tweets and we don't want retweets.

In [27]:
twitter_archives.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,None,None,None,None

On exploring the tail I see that some dogs have been given a default name 'None'.

In [28]:
twitter_archives[twitter_archives.name.duplicated()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/890729181411237888/photo/1,https://twitter.com/dog_rates/status/890729181411237888/photo/1",13,10,None,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's a puppo that seems to be on the fence about something haha no but seriously someone help her. 13/10 https://t.co/BxvuXk0UCm,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388333682689/photo/1,13,10,None,None,None,None,puppo
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1",13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",You may not have known you needed to see this today. 13/10 please enjoy (IG: emmylouroo) https://t.co/WZqNqygEyV,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217045368832/video/1,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This... is a Jubilant Antarctic House Bear. We only rate dogs. Please only send dogs. Thank you... 12/10 would suffocate in floof https://t.co/4Ad1jzJSdp,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392804085760/photo/1,12,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,None,None,None,None

On checking out the duplicated values in the name feature its evident that maybe a lot of the dogs didn't have a name or that data got lost and got replaced by the default 'None'. Also there are a lot of irrelevant values in that column like 'a', 'quite', 'the' which clearly shows that the wrong text was extracted from the text column. This issue should come under the accuracy dimension of quality issues.

Also, the url for the tweet with tweet id 885518971528720385 seems to be broken as the page cannot be found.

In [29]:
twitter_archives.name.value_counts()

None          745
a             55
Charlie       12
Cooper        11
Lucy          11
              ..
Dex           1
Ace           1
Tayzie        1
Grizzie       1
Christoper    1
Name: name, Length: 957, dtype: int64

This lists out the counts of all the names in the name column and we can clearly see that there are names like None, a, an which aren't the right names.

In [30]:
twitter_archives.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2037,671561002136281088,NaN,NaN,2015-12-01 05:26:34 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is the best thing I've ever seen so spread it like wildfire &amp; maybe we'll find the genius who created it. 13/10 https://t.co/q6RsuOVYwU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671561002136281088/photo/1,13,10,the,None,None,None,None
1413,698907974262222848,NaN,NaN,2016-02-14 16:33:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This dog is never sure if he's doing the right thing. 10/10 https://t.co/GXq43zFfBu,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/698907974262222848/photo/1,https://twitter.com/dog_rates/status/698907974262222848/photo/1,https://twitter.com/dog_rates/status/698907974262222848/photo/1",10,10,None,None,None,None,None
1702,680934982542561280,NaN,NaN,2015-12-27 02:15:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Say hello to Sadie. She's a Tortellini Sidewinder. Very jubilant pup. Seems loyal. Leaves on point. 10/10 petable af https://t.co/g2bTu4ayPl,NaN,NaN,NaN,https://twitter.com/dog_rates/status/680934982542561280/photo/1,10,10,Sadie,None,None,None,None
928,754747087846248448,NaN,NaN,2016-07-17 18:38:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Keith. He's pursuing a more 2D lifestyle. Idiosyncratic af. 12/10 follow your dreams Keith https://t.co/G9ufksBMlU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/754747087846248448/photo/1,12,10,Keith,None,None,None,None
1251,710997087345876993,NaN,NaN,2016-03-19 01:11:29 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Milo and Amos. They are the best of pals. Both 12/10 would pet at the same time https://t.co/Mv37BHEyyD,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710997087345876993/photo/1,12,10,Milo,None,None,None,None

Viewing a random sample here shows up a Nan value in the expanded urls column. There are Nan values in the columns doggo, floofer, pupper and puppo as well but they are represented by 'None', that's why they didn't show up in the info table I generated earlier.

In [31]:
#getting the counts for all the ratings in the rating_numerator column
twitter_archives.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7       55
14      54
5       37
6       32
3       19
4       17
2       9
1       9
75      2
15      2
420     2
0       2
80      1
144     1
17      1
26      1
20      1
121     1
143     1
44      1
60      1
45      1
50      1
99      1
204     1
1776    1
165     1
666     1
27      1
182     1
24      1
960     1
84      1
88      1
Name: rating_numerator, dtype: int64

This throws up a lot of the ratings which don't look like they are correct. Most of the ratings given by the twitter handle are 12, 11, 10, 13 and so on whereas only a couple of dogs or even less have been given a rating of 80, 420, 165, 960 and more of that order. These ratings seem to be accuracy errors.

In [32]:
#the actual rating below should be 9.75 instead of 75
twitter_archives[twitter_archives.rating_numerator == 75]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
340,832215909146226688,NaN,NaN,2017-02-16 13:11:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wu…",7.867091e+17,4.196984e+09,2016-10-13 23:23:56 +0000,https://twitter.com/dog_rates/status/786709082849828864/photo/1,75,10,Logan,None,None,None,None
695,786709082849828864,NaN,NaN,2016-10-13 23:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS",NaN,NaN,NaN,https://twitter.com/dog_rates/status/786709082849828864/photo/1,75,10,Logan,None,None,None,None

Although on looking up the text for the tweets corresponding to these ratings, I found out that there were decimals in some of these ratings and the number before the decimal point has been wrongfully scraped off in some cases. Thus this also points out to the fact that ratings numerator should be of data type float.

In [33]:
##getting the counts for all the ratings in the rating_denominator column
twitter_archives.rating_denominator.value_counts()

10     2333
11     3
50     3
20     2
80     2
70     1
7      1
15     1
150    1
170    1
0      1
90     1
40     1
130    1
110    1
16     1
120    1
2      1
Name: rating_denominator, dtype: int64

Again this shows that there can be inaccurate values in this column as well since the total rating is 10.

In [34]:
#filtering out all the rows where the name is None
twitter_archives[twitter_archives.name == 'None']

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950875897856/photo/1,13,10,None,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/890729181411237888/photo/1,https://twitter.com/dog_rates/status/890729181411237888/photo/1",13,10,None,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's a puppo that seems to be on the fence about something haha no but seriously someone help her. 13/10 https://t.co/BxvuXk0UCm,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388333682689/photo/1,13,10,None,None,None,None,puppo
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",You may not have known you needed to see this today. 13/10 please enjoy (IG: emmylouroo) https://t.co/WZqNqygEyV,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217045368832/video/1,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This... is a Jubilant Antarctic House Bear. We only rate dogs. Please only send dogs. Thank you... 12/10 would suffocate in floof https://t.co/4Ad1jzJSdp,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392804085760/photo/1,12,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a well-established sunblockerspaniel. Lost his other flip-flop. 6/10 not very waterproof https://t.co/3RU6x0vHB7,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916733198337/photo/1,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Let's hope this flight isn't Malaysian (lol). What a dog! Almost completely camouflaged. 10/10 I trust this pilot https://t.co/Yk6GHE9tOY,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100786774016/photo/1,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a northern speckled Rhododendron. Much sass. Gives 0 fucks. Good tongue. 9/10 would caress sensually https://t.co/ZoL8kq2XFx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193221509120/photo/1,9,10,None,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,None,None,None,None

On visually assessing the text column here in an Excel sheet, I found out that a lot of people were sending pictures of other animals or things to rate as well. So such tweets are invalid.

In [35]:
twitter_archives.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                        91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                     33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>    11
Name: source, dtype: int64

The source column, since it consists of urls, is a bit untidy with all the non-alphanumeric characters and thus a little difficult to read.

Let's move on to the image predictions table now.

In [36]:
image_predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

On visually assessing this table, I can see that some of the predictions in the p1 column aren't breeds of dogs but other animals or non-living things and on checking out the corresponding image urls on a browser myself, I found out that a lot of these images didn't have any dogs in them. Thus such tweets are invalid.

In [37]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

Again I would prefer if tweet_id is a string rather than an integer. Everything else seems to be ok here.

In [38]:
image_predictions.tail(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [39]:
image_predictions.sample(4)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1101,720785406564900865,https://pbs.twimg.com/media/CgC-gMCWcAAawUE.jpg,1,Chihuahua,0.896422,True,dingo,0.027929,False,kelpie,0.017916,True
674,683391852557561860,https://pbs.twimg.com/media/CXvlQ2zW8AAE0tp.jpg,1,French_bulldog,0.992833,True,Boston_bull,0.004749,True,pug,0.001392,True
1260,748705597323898880,https://pbs.twimg.com/ext_tw_video_thumb/748704826305970176/pu/img/QHuadM5eEygfBeOf.jpg,1,tiger_shark,0.548497,False,great_white_shark,0.130252,False,scuba_diver,0.121887,False
251,670704688707301377,https://pbs.twimg.com/media/CU7SW39WwAAL8Rw.jpg,1,Norwich_terrier,0.419838,True,cairn,0.351876,True,Norfolk_terrier,0.051094,True

The underscores visible in the predictions columns make the data look a little untidy and underprepared.

In [40]:
#getting the counts of all the prediction values in the p1 column
image_predictions.p1.value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke              89
Chihuahua             83
pug                   57
                      ..
pillow                1
carousel              1
bald_eagle            1
lorikeet              1
orange                1
Name: p1, Length: 378, dtype: int64

The top predictions for a lot of the tweets have been other animals or things as well as the list above shows.

In [41]:
#filtering out all the rows where the value of p1 is 'web_site'
image_predictions[image_predictions.p1 == 'web_site']

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
94,667550882905632768,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1,web_site,0.998258,False,dishwasher,0.000201,False,oscilloscope,0.000142,False
95,667550904950915073,https://pbs.twimg.com/media/CUOb_gUUkAACXdS.jpg,1,web_site,0.999335,False,vizsla,0.000081,True,collie,0.000069,True
130,668291999406125056,https://pbs.twimg.com/media/CUZABzGW4AE5F0k.jpg,1,web_site,0.995535,False,skunk,0.001363,False,badger,0.000686,False
213,670040295598354432,https://pbs.twimg.com/media/CUx2F6lVEAAvFev.jpg,1,web_site,0.901552,False,borzoi,0.026660,True,Chihuahua,0.012438,True
270,670822709593571328,https://pbs.twimg.com/media/CU89schWIAIHQmA.jpg,1,web_site,0.993887,False,Chihuahua,0.001252,True,menu,0.000599,False
715,685547936038666240,https://pbs.twimg.com/media/CYOONfZW8AA7IOA.jpg,1,web_site,0.923987,False,oscilloscope,0.009712,False,hand-held_computer,0.008769,False
960,705786532653883392,https://pbs.twimg.com/media/Cct1G6vVAAI9ZjF.jpg,1,web_site,0.550294,False,Labrador_retriever,0.148496,True,golden_retriever,0.148482,True
1210,742465774154047488,https://pbs.twimg.com/media/Ck3EribXEAAPhZn.jpg,1,web_site,0.997154,False,comic_book,0.000439,False,desktop_computer,0.000268,False
1317,755206590534418437,https://pbs.twimg.com/media/CnsIT0WWcAAul8V.jpg,1,web_site,0.906673,False,printer,0.008600,False,carton,0.004533,False
1443,775729183532220416,https://pbs.twimg.com/media/CsPxk85XEAAeMQj.jpg,1,web_site,0.989407,False,hand-held_computer,0.002139,False,menu,0.002115,False
1447,776088319444877312,https://pbs.twimg.com/media/CsU4NKkW8AUI5eG.jpg,3,web_site,0.999916,False,pug,0.000077,True,menu,0.000002,False
1549,792913359805018113,https://pbs.twimg.com/media/CwD-eCLWIAA6v0B.jpg,4,web_site,0.226716,False,lighter,0.081941,False,switch,0.039009,False
1626,804026241225523202,https://pbs.twimg.com/media/Cyh5mQTW8AQpB6K.jpg,1,web_site,0.492709,False,envelope,0.050566,False,guillotine,0.015297,False
1696,816450570814898180,https://pbs.twimg.com/media/C1SddosXUAQcVR1.jpg,1,web_site,0.352857,False,envelope,0.060107,False,nail,0.031291,False
1844,838916489579200512,https://pbs.twimg.com/media/C6RkiQZUsAAM4R4.jpg,2,web_site,0.993651,False,monitor,0.001406,False,envelope,0.001093,False
1847,839290600511926273,https://pbs.twimg.com/media/C6XBt9XXEAEEW9U.jpg,1,web_site,0.670892,False,monitor,0.101565,False,screen,0.075306,False
1853,840696689258311684,https://pbs.twimg.com/media/C6rBLenU0AAr8MN.jpg,1,web_site,0.841768,False,rule,0.007087,False,envelope,0.006820,False
1900,851464819735769094,https://pbs.twimg.com/media/C9ECujZXsAAPCSM.jpg,2,web_site,0.919649,False,menu,0.026306,False,crossword_puzzle,0.003482,False
2026,882045870035918850,https://pbs.twimg.com/media/DD2oCl2WAAEI_4a.jpg,1,web_site,0.949591,False,dhole,0.017326,False,golden_retriever,0.006941,True

A lot of the images here are not necessarily dog pictures but snapshots or private chats as well. Also, there are some retweets here. The first two tweets in the table above are retweets. I found that out by cross checking in the twitter archives table below.

In [42]:
twitter_archives[twitter_archives.tweet_id == 667550882905632768]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2260,667550882905632768,NaN,NaN,2015-11-20 03:51:47 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",RT @dogratingrating: Unoriginal idea. Blatant plagiarism. Curious grammar. -5/10 https://t.co/r7XzeQZWzb,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,"https://twitter.com/dogratingrating/status/667548415174144001/photo/1,https://twitter.com/dogratingrating/status/667548415174144001/photo/1",5,10,None,None,None,None,None

Let's check out the tweet_counts table now.

In [43]:
tweet_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         2345 non-null   int64
 1   retweet_count    2345 non-null   int64
 2   favourite_count  2345 non-null   int64
dtypes: int64(3)
memory usage: 55.1 KB

The favourite count column here is of interest and I would like to join that column to the image predictions table.

In [44]:
#summarizing the columns in the table
tweet_counts.describe()

           tweet_id  retweet_count  favourite_count
count  2.345000e+03  2345.000000    2345.000000
mean   7.422940e+17  3050.126652    8111.325373
std    6.833642e+16  5070.651402    12197.466796
min    6.660209e+17  0.000000       0.000000
25%    6.783802e+17  610.000000     1408.000000
50%    7.189392e+17  1424.000000    3559.000000
75%    7.986979e+17  3557.000000    10026.000000
max    8.924206e+17  77908.000000   144098.000000

In [45]:
tweet_counts.head()

             tweet_id  retweet_count  favourite_count
0  892420643555336193  8662           39018
1  892177421306343426  6361           33407
2  891815181378084864  4224           25188
3  891689557279858688  8770           42374
4  891327558926688256  9538           40526

### Quality
#### Twitter archives table
- Most of the values in the in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id and retweeted_status_timestamp columns are null and these columns only act as identifiers.
- Missing records in the expanded_urls column (2297 out of 2356).
- Retweets in many rows.
- Incorrect data types for tweet_id, timestamp and rating_numerator.
- Inaccurate dog names in the name column and NaN values represented by the word 'None'.
- Inaccurate values in the rating_numerator and rating_denominator columns.
- The source column is a bit untidy cause of the urls and thus a little difficult to interpret.
- The tweet with the dog name Phineas has been duplicated.

#### Image predictions table
- Incorrect data type for tweet id.
- Underscores in place of spaces in the p1, p2, p3 prediction columns.
- The values in the columns p1_conf, p2_conf and p3_conf should be percentages instead of proportions.
- Inconsistent letter cases in the columns p1, p2 and p3. 

#### Counts table
- Incorrect data type for tweet id.

### Tidiness
#### Twitter archives table
- Doggo, floofer, pupper, puppo should be column values but are instead column headers.
- Two values in the timestamp column: date and time.
- Adding the favourite count column to this table from the tweet counts table.

#### Image predictions table
- Joining this table and the twitter archives table.

# Clean

In [46]:
#making copies of the three tables to conduct cleaning operations on
twitter_archives_clean = twitter_archives.copy()
image_predictions_clean = image_predictions.copy()
tweet_counts_clean = tweet_counts.copy()

## Twitter archives table
### Define
Remove all the retweets by removing all the rows with non null values in retweeted_status_id.

### Code

In [47]:
#subsetting the table over all the rows having null values in the retweeted_status_id column
twitter_archives_clean = twitter_archives_clean[twitter_archives_clean.retweeted_status_id.isnull()]

### Test

In [48]:
twitter_archives_clean[twitter_archives_clean.retweeted_status_id.notnull()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [49]:
twitter_archives_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2175 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2175 non-null   object
 4   source                      2175 non-null   object
 5   text                        2175 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2117 non-null   object
 10  rating_numerator            2175 non-null   int64
 11  rating_denominator          2175 non-null   int64
 12  name                        2175 non-null   object
 13  doggo                       2175 non-null   object
 14  floofer                     2175 non-null   object
 15  pupper                      2175 non-null   object
 16  puppo                       2175 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 305.9+ KB

### Define
Drop the in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id and retweeted_status_timestamp columns.

### Code

In [50]:
twitter_archives_clean = twitter_archives_clean.drop(['in_reply_to_status_id', 'in_reply_to_user_id',
                                                      'retweeted_status_id', 'retweeted_status_user_id',
                                                      'retweeted_status_timestamp'], axis = 1)

### Test

In [51]:
twitter_archives_clean.head(3)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None

### Define
Create a new column named doy_type with doggo, floofer, pupper, puppo as its values; extracted from the text column and drop the doggo, floofer, pupper, puppo columns. Also, change the datatype of the new column created to category.

### Code

In [52]:
#creating the column dog_type
twitter_archives_clean['dog_type'] = twitter_archives_clean.text.str.extract('(doggo | floofer | pupper | puppo)', expand = True)

#some whitespaces also got extracted to the dog_type column, thus removing them
twitter_archives_clean.dog_type = twitter_archives_clean.dog_type.str.strip()

In [53]:
#dropping the columns
twitter_archives_clean = twitter_archives_clean.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis = 1)

In [54]:
#changing the datatype of dog_type to category
twitter_archives_clean.dog_type = twitter_archives_clean.dog_type.astype('category')

### Test

In [55]:
twitter_archives_clean

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_type
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,NaN
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,NaN
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,NaN
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,NaN
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,NaN
...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,NaN
2352,666044226329800704,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,NaN
2353,666033412701032449,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,NaN
2354,666029285002620928,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,NaN
2355,666020888022790149,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,NaN

In [56]:
twitter_archives_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2175 non-null   int64
 1   timestamp           2175 non-null   object
 2   source              2175 non-null   object
 3   text                2175 non-null   object
 4   expanded_urls       2117 non-null   object
 5   rating_numerator    2175 non-null   int64
 6   rating_denominator  2175 non-null   int64
 7   name                2175 non-null   object
 8   dog_type            240 non-null    category
dtypes: category(1), int64(3), object(5)
memory usage: 155.3+ KB

### Define
Do an inner join on this table and the image_predictions table since we only want tweets with images and no retweets. Also, drop the unnecessary columns after that. This will also remove all the rows with null values in the expanded_urls column since those are the tweets with no images and thus aren't there in the image predictions table.

### Code

In [57]:
twitter_archives_clean = twitter_archives_clean.merge(image_predictions_clean, on = 'tweet_id', how = 'inner')

In [58]:
#dropping the unnecessary columns
twitter_archives_clean = twitter_archives_clean.drop(['img_num', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'], axis = 1)

### Test

In [59]:
twitter_archives_clean.head(4)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_type,jpg_url,p1,p1_conf,p1_dog
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,NaN,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,orange,0.097049,False
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,NaN,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,Chihuahua,0.323581,True
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,NaN,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,Chihuahua,0.716012,True
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,NaN,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,paper_towel,0.170278,False

### Define
Join the tweet_counts table to the twitter archives table to get the favourite and retweet counts.

### Clean

In [60]:
twitter_archives_clean = pd.merge(twitter_archives_clean, tweet_counts_clean, on = 'tweet_id', how = 'left')

### Test

In [61]:
twitter_archives_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 0 to 1993
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1994 non-null   int64
 1   timestamp           1994 non-null   object
 2   source              1994 non-null   object
 3   text                1994 non-null   object
 4   expanded_urls       1994 non-null   object
 5   rating_numerator    1994 non-null   int64
 6   rating_denominator  1994 non-null   int64
 7   name                1994 non-null   object
 8   dog_type            216 non-null    category
 9   jpg_url             1994 non-null   object
 10  p1                  1994 non-null   object
 11  p1_conf             1994 non-null   float64
 12  p1_dog              1994 non-null   bool
 13  retweet_count       1994 non-null   int64
 14  favourite_count     1994 non-null   int64
dtypes: bool(1), category(1), float64(1), int64(5), object(7)
memory usage: 222.2+ KB

In [62]:
twitter_archives_clean.sample(3)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_type,jpg_url,p1,p1_conf,p1_dog,retweet_count,favourite_count
1084,700796979434098688,2016-02-19 21:39:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Daniel. He's a neat pup. Exotic af. Custom paws. Leaps unannounced. Would totally pet. 7/10 daaamn Daniel https://t.co/5XaR0kj8cr,https://twitter.com/dog_rates/status/700796979434098688/photo/1,7,10,Daniel,NaN,https://pbs.twimg.com/media/Cbm7IeUXIAA6Lc-.jpg,tailed_frog,0.652712,False,1058,2623
1579,674019345211760640,2015-12-08 00:15:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Acro. You briefly see her out of the corner of your eye. You look and she's not there. 10/10 mysterious pup https://t.co/fqiEsTduEs,https://twitter.com/dog_rates/status/674019345211760640/photo/1,10,10,Acro,NaN,https://pbs.twimg.com/media/CVqZBO8WUAAd931.jpg,collie,0.992732,True,329,1186
1630,672898206762672129,2015-12-04 22:00:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Cheryl AKA Queen Pupper of the Skies. Experienced fighter pilot. Much skill. True hero. 11/10 https://t.co/i4XJEWwdsp,https://twitter.com/dog_rates/status/672898206762672129/photo/1,11,10,Cheryl,NaN,https://pbs.twimg.com/media/CVadWcCXIAAL4Sh.jpg,motor_scooter,0.835819,False,447,927

### Define
- Change the datatypes of the tweet_id, timestamp columns to string and datetime respectively.
- Change the datatype of the rating_numerator and rating_denominator columns to float.

### Code

In [63]:
twitter_archives_clean.tweet_id = twitter_archives_clean.tweet_id.astype(str)
twitter_archives_clean.timestamp = pd.to_datetime(twitter_archives_clean.timestamp, yearfirst = True)
twitter_archives_clean.rating_numerator = twitter_archives_clean.rating_numerator.astype(float)
twitter_archives_clean.rating_denominator = twitter_archives_clean.rating_numerator.astype(float)

### Test

In [64]:
twitter_archives_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 0 to 1993
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1994 non-null   object
 1   timestamp           1994 non-null   datetime64[ns, UTC]
 2   source              1994 non-null   object
 3   text                1994 non-null   object
 4   expanded_urls       1994 non-null   object
 5   rating_numerator    1994 non-null   float64
 6   rating_denominator  1994 non-null   float64
 7   name                1994 non-null   object
 8   dog_type            216 non-null    category
 9   jpg_url             1994 non-null   object
 10  p1                  1994 non-null   object
 11  p1_conf             1994 non-null   float64
 12  p1_dog              1994 non-null   bool
 13  retweet_count       1994 non-null   int64
 14  favourite_count     1994 non-null   int64
dtypes: bool(1), category(1), datetime64[ns, UTC](1), float64(3), int64(2), object(7)
memory usage: 222.2+ KB

### Define
Extract the date and time from the timestamp column and put them into two new columns. Drop the timestamp column after that.

### Code

In [65]:
#using the apply function, applying the strftime function to each value of the timestamp column in each row
twitter_archives_clean['date'] = twitter_archives_clean['timestamp'].apply(lambda x: x.strftime('%d-%m-%Y'))
twitter_archives_clean['time'] = twitter_archives_clean['timestamp'].apply(lambda x: x.strftime('%H:%M:%S'))

#changing datatype of the date column to datetime
twitter_archives_clean.date = pd.to_datetime(twitter_archives_clean.date, dayfirst = True)

In [66]:
#dropping the timestamp column
twitter_archives_clean = twitter_archives_clean.drop('timestamp', axis = 1)

### Test

In [67]:
twitter_archives_clean.head(4)

,tweet_id,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_type,jpg_url,p1,p1_conf,p1_dog,retweet_count,favourite_count,date,time
0,892420643555336193,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13.0,13.0,Phineas,NaN,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,orange,0.097049,False,8662,39018,2017-08-01,16:23:56
1,892177421306343426,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13.0,13.0,Tilly,NaN,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,Chihuahua,0.323581,True,6361,33407,2017-08-01,00:17:27
2,891815181378084864,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12.0,12.0,Archie,NaN,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,Chihuahua,0.716012,True,4224,25188,2017-07-31,00:18:03
3,891689557279858688,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13.0,13.0,Darla,NaN,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,paper_towel,0.170278,False,8770,42374,2017-07-30,15:58:51

### Define 
Make the source column readable by replacing the urls in it by the source name and change its datatype to category.

### Code

In [68]:
#the source column has only 3 different values, thus assigning each value to a different variable  
a = '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>'
b = '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>'
c = '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'

In [69]:
#using the variables created above in the replace function 
twitter_archives_clean.source = twitter_archives_clean.source.replace(a, 'Twitter for iPhone')
twitter_archives_clean.source = twitter_archives_clean.source.replace(b, 'Twitter Web Client')
twitter_archives_clean.source = twitter_archives_clean.source.replace(c, 'TweetDeck')

### Test

In [70]:
twitter_archives_clean.source.value_counts()

Twitter for iPhone    1955
Twitter Web Client    28
TweetDeck             11
Name: source, dtype: int64

### Define
- Rename some of the columns in the table and re-arrange them.
- Convert the proportions in the p1 confidence column into percentages. 
- Replace the underscores in the p1 column by spaces.
- Capitalize the first letter of every word in the p1 column.

### Code

In [71]:
#renaming some of the columns
twitter_archives_clean = twitter_archives_clean.rename({'jpg_url': 'image_url', 'p1':'prediction',
                                                        'p1_conf': 'confidence_percentage', 'p1_dog': 'breed_predicted'},
                                                       axis = 'columns')

In [72]:
#re-arranging all the columns for better viewing
twitter_archives_clean = twitter_archives_clean[['tweet_id', 'source', 'image_url', 'date', 'time', 'favourite_count',
                                                 'retweet_count', 'text', 'name', 'dog_type', 'rating_numerator',
                                                 'rating_denominator', 'prediction', 'confidence_percentage', 
                                                 'breed_predicted', 'expanded_urls']]

In [73]:
#changing the values in confidence level from proportions to percentages
twitter_archives_clean.confidence_percentage = twitter_archives_clean.confidence_percentage.apply(lambda x: round(x*100, 2))

In [74]:
#replacing the underscores in the prediction column by spaces
twitter_archives_clean.prediction = twitter_archives_clean.prediction.str.replace('_', ' ')

In [75]:
#changing the first letter of every word in the prediction column to uppercase
twitter_archives_clean.prediction = twitter_archives_clean.prediction.str.title()

### Test

In [76]:
twitter_archives_clean.head(3)

,tweet_id,source,image_url,date,time,favourite_count,retweet_count,text,name,dog_type,rating_numerator,rating_denominator,prediction,confidence_percentage,breed_predicted,expanded_urls
0,892420643555336193,Twitter for iPhone,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,2017-08-01,16:23:56,39018,8662,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,Phineas,NaN,13.0,13.0,Orange,9.70,False,https://twitter.com/dog_rates/status/892420643555336193/photo/1
1,892177421306343426,Twitter for iPhone,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,2017-08-01,00:17:27,33407,6361,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",Tilly,NaN,13.0,13.0,Chihuahua,32.36,True,https://twitter.com/dog_rates/status/892177421306343426/photo/1
2,891815181378084864,Twitter for iPhone,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,2017-07-31,00:18:03,25188,4224,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,Archie,NaN,12.0,12.0,Chihuahua,71.60,True,https://twitter.com/dog_rates/status/891815181378084864/photo/1

### Define
Replace the incorrect dog names i.e. the names in lowercases with the correct ones by extracting them from their corresponding text. Also replace the remaining 'None' in the name column by NaN values.

### Code

In [77]:
#filtering out rows where there is the word 'named' in the text and the name is in lowercase - these are probably the rows where 
#the names are incorrect and then creating a list out of their corresponding indices
index_list = twitter_archives_clean.loc[twitter_archives_clean.text.str.contains('named') & 
                                              twitter_archives_clean.name.str.islower()].index.tolist()
all_indices = twitter_archives_clean.index.tolist()
for e in all_indices:
    if e in index_list:
        for ele in list(range(len(index_list))):
            #creating a list out of all such text values that contain the word 'named' and the corresponding name value 
            #is in lowercase            
            text_list = (twitter_archives_clean.loc[twitter_archives_clean.text.str.contains('named') & 
                                                 twitter_archives_clean.name.str.islower()].text).tolist()
            #finding the index position in every text value in the list where 'named' occurs
            num = text_list[ele].find('named')
            #using this index position to extract a particular pattern of dog name out of the text and then assign it to the
            #corresponding name value
            x = twitter_archives_clean.loc[twitter_archives_clean.index == e, 'text'].str[num+6:].str.extract(r'([A-Z][a-z]+)',
                                                                                                          expand = True)[0]
            twitter_archives_clean.loc[twitter_archives_clean.index == e, 'name'] = x
            break

In [78]:
#this is the same code as above, only tinkering it a bit to filter out rows with 'named' in the text and 'None' in the 
#name column
index_list = twitter_archives_clean.loc[(twitter_archives_clean.name == 'None') & 
                                        (twitter_archives_clean.text.str.contains('named'))].index.tolist()
for e in all_indices:
    if e in index_list:
        for ele in list(range(len(index_list))):
            text_list = (twitter_archives_clean.loc[(twitter_archives_clean.name == 'None') & 
                                                 (twitter_archives_clean.text.str.contains('named'))].text).tolist()
            num = text_list[ele].find('named')
            x = twitter_archives_clean.loc[twitter_archives_clean.index == e, 'text'].str[num+6:].str.extract(r'([A-Z][a-z]+)',
                                                                                                          expand = True)[0]
            twitter_archives_clean.loc[twitter_archives_clean.index == e, 'name'] = x
            break

In [79]:
#replacing the remaining 'None's in the name column by NaN values
twitter_archives_clean.name = twitter_archives_clean.name.replace('None', np.nan)

### Test

In [80]:
twitter_archives_clean.loc[twitter_archives_clean.text.str.contains('named')]

,tweet_id,source,image_url,date,time,favourite_count,retweet_count,text,name,dog_type,rating_numerator,rating_denominator,prediction,confidence_percentage,breed_predicted,expanded_urls
1503,675706639471788032,Twitter for iPhone,https://pbs.twimg.com/media/CWCXj35VEAIFvtk.jpg,2015-12-12,15:59:51,681,104,This is a Sizzlin Menorah spaniel from Brooklyn named Wylie. Lovable eyes. Chiller as hell. 10/10 and I'm out.. poof https://t.co/7E0AiJXPmI,Wylie,NaN,10.0,10.0,English Springer,99.03,True,https://twitter.com/dog_rates/status/675706639471788032/photo/1
1600,673636718965334016,Twitter for iPhone,https://pbs.twimg.com/media/CVk9ApFWUAA-S1s.jpg,2015-12-06,22:54:44,1174,398,This is a Lofted Aphrodisiac Terrier named Kip. Big fan of bed n breakfasts. Fits perfectly. 10/10 would pet firmly https://t.co/gKlLpNzIl3,Kip,NaN,10.0,10.0,Wombat,88.03,False,https://twitter.com/dog_rates/status/673636718965334016/photo/1
1679,671743150407421952,Twitter for iPhone,https://pbs.twimg.com/media/CVKC1IfWIAAsQks.jpg,2015-12-01,17:30:22,769,241,This is a Tuscaloosa Alcatraz named Jacob (Yacōb). Loves to sit in swing. Stellar tongue. 11/10 look at his feet https://t.co/2IslQ8ZSc7,Jacob,NaN,11.0,11.0,Toy Poodle,41.94,True,https://twitter.com/dog_rates/status/671743150407421952/photo/1
1710,671147085991960577,Twitter for iPhone,https://pbs.twimg.com/media/CVBktzQXAAAPpUA.jpg,2015-11-30,02:01:49,699,246,This is a Helvetica Listerine named Rufus. This time Rufus will be ready for the UPS guy. He'll never expect it 9/10 https://t.co/34OhVhMkVr,Rufus,NaN,9.0,9.0,Yorkshire Terrier,46.72,True,https://twitter.com/dog_rates/status/671147085991960577/photo/1
1760,670427002554466305,Twitter for iPhone,https://pbs.twimg.com/media/CU3VzVwWwAAAsst.jpg,2015-11-28,02:20:27,538,174,This is a Deciduous Trimester mix named Spork. Only 1 ear works. No seat belt. Incredibly reckless. 9/10 still cute https://t.co/CtuJoLHiDo,Spork,NaN,9.0,9.0,Seat Belt,95.23,False,https://twitter.com/dog_rates/status/670427002554466305/photo/1
1769,670361874861563904,Twitter for iPhone,https://pbs.twimg.com/media/CU2akCQWsAIbaOV.jpg,2015-11-27,22:01:40,341,71,This is a Rich Mahogany Seltzer named Cherokee. Just got destroyed by a snowball. Isn't very happy about it. 9/10 https://t.co/98ZBi6o4dj,Cherokee,NaN,9.0,9.0,Platypus,97.41,False,https://twitter.com/dog_rates/status/670361874861563904/photo/1
1772,670303360680108032,Twitter for iPhone,https://pbs.twimg.com/media/CU1lWFaVAAAl0HG.jpg,2015-11-27,18:09:09,443,145,This is a Speckled Cauliflower Yosemite named Hemry. He's terrified of intruder dog. Not one bit comfortable. 9/10 https://t.co/yV3Qgjh8iN,Hemry,NaN,9.0,9.0,Shetland Sheepdog,38.03,True,https://twitter.com/dog_rates/status/670303360680108032/photo/1
1790,669923323644657664,Twitter for iPhone,https://pbs.twimg.com/media/CUwLtPeU8AAfAb2.jpg,2015-11-26,16:59:01,245,62,This is a spotted Lipitor Rumpelstiltskin named Alphred. He can't wait for the Turkey. 10/10 would pet really well https://t.co/6GUGO7azNX,Alphred,NaN,10.0,10.0,Car Mirror,34.31,False,https://twitter.com/dog_rates/status/669923323644657664/photo/1
1804,669564461267722241,Twitter for iPhone,https://pbs.twimg.com/media/CUrFUvDVAAA9H-F.jpg,2015-11-25,17:13:02,404,131,This is a Coriander Baton Rouge named Alfredo. Loves to cuddle with smaller well-dressed dog. 10/10 would hug lots https://t.co/eCRdwouKCl,Alfredo,NaN,10.0,10.0,Toy Poodle,62.37,True,https://twitter.com/dog_rates/status/669564461267722241/photo/1
1809,669363888236994561,Twitter for iPhone,https://pbs.twimg.com/media/CUoO1TLWsAA0Z3w.jpg,2015-11-25,03:56:01,651,246,Here we have a Gingivitis Pumpernickel named Zeus. Unmatched tennis ball capacity. 10/10 would highly recommend https://t.co/jPkd7hhX7m,Zeus,NaN,10.0,10.0,Golden Retriever,53.90,True,https://twitter.com/dog_rates/status/669363888236994561/photo/1
1833,668955713004314625,Twitter for iPhone,https://pbs.twimg.com/media/CUibq3uVAAAup_O.jpg,2015-11-24,00:54:05,296,74,This is a Slovakian Helter Skelter Feta named Leroi. Likes to skip on roofs. Good traction. Much balance. 10/10 wow! https://t.co/Dmy2mY2Qj5,Leroi,NaN,10.0,10.0,Cocker Spaniel,36.75,True,https://twitter.com/dog_rates/status/668955713004314625/photo/1
1846,668636665813057536,Twitter for iPhone,https://pbs.twimg.com/media/CUd5gBGWwAA0IVA.jpg,2015-11-23,03:46:18,1089,514,This is an Irish Rigatoni terrier named Berta. Completely made of rope. No eyes. Quite large. Loves to dance. 10/10 https://t.co/EM5fDykrJg,Berta,NaN,10.0,10.0,Komondor,100.00,True,https://twitter.com/dog_rates/status/668636665813057536/photo/1
1859,668507509523615744,Twitter for iPhone,https://pbs.twimg.com/media/CUcECBYWcAAzFRg.jpg,2015-11-22,19:13:05,339,113,This is a Birmingham Quagmire named Chuk. Loves to relax and watch the game while sippin on that iced mocha. 10/10 https://t.co/HvNg9JWxFt,Chuk,NaN,10.0,10.0,Basenji,5.54,True,https://twitter.com/dog_rates/status/668507509523615744/photo/1
1868,668268907921326080,Twitter for iPhone,https://pbs.twimg.com/media/CUYrBNQUkAA-zx4.jpg,2015-11-22,03:24:58,578,255,Here we have an Azerbaijani Buttermilk named Guss. He sees a demon baby Hitler behind his owner. 10/10 stays alert https://t.co/aeZykWwiJN,Guss,NaN,10.0,10.0,Pembroke,48.48,True,https://twitter.com/dog_rates/status/668268907921326080/photo/1
1876,668171859951755264,Twitter for iPhone,https://pbs.twimg.com/media/CUXSwy8W4AA6uet.jpg,2015-11-21,20:59:20,512,204,This is a Trans Siberian Kellogg named Alfonso. Huge ass eyeballs. Actually Dobby from Harry Potter. 7/10 https://t.co/XpseHBlAAb,Alfonso,NaN,7.0,7.0,Chihuahua,66.48,True,https://twitter.com/dog_rates/status/668171859951755264/photo/1
1890,667861340749471744,Twitter for iPhone,https://pbs.twimg.com/media/CUS4WJ-UsAEJj10.jpg,2015-11-21,00:25:26,250,83,This is a Shotokon Macadamia mix named Cheryl. Sophisticated af. Looks like a disappointed librarian. Shh (lol) 9/10 https://t.co/J4GnJ5Swba,Cheryl,NaN,9.0,9.0,Malamute,96.73,True,https://twitter.com/dog_rates/status/667861340749471744/photo/1
1896,667773195014021121,Twitter Web Client,https://pbs.twimg.com/media/CURoLrOVEAAaWdR.jpg,2015-11-20,18:35:10,240,59,This is a rare Hungarian Pinot named Jessiga. She is either mid-stroke or got stuck in the washing machine. 8/10 https://t.co/ZU0i0KJyqD,Jessiga,NaN,8.0,8.0,West Highland White Terrier,36.05,True,https://twitter.com/dog_rates/status/667773195014021121/photo/1
1903,667538891197542400,Twitter Web Client,https://pbs.twimg.com/media/CUOTFZOW4AABsfW.jpg,2015-11-20,03:04:08,209,70,This is a southwest Coriander named Klint. Hat looks expensive. Still on house arrest :(\n9/10 https://t.co/IQTOMqDUIe,Klint,NaN,9.0,9.0,Yorkshire Terrier,61.90,True,https://twitter.com/dog_rates/status/667538891197542400/photo/1
1908,667509364010450944,Twitter Web Client,https://pbs.twimg.com/media/CUN4Or5UAAAa5K4.jpg,2015-11-20,01:06:48,7033,2230,This a Norwegian Pewterschmidt named Tickles. Ears for days. 12/10 I care deeply for Tickles https://t.co/0aDF62KVP7,Tickles,NaN,12.0,12.0,Beagle,63.62,True,https://twitter.com/dog_rates/status/667509364010450944/photo/1
1912,667470559035432960,Twitter Web Client,https://pbs.twimg.com/media/CUNU78YWEAECmpB.jpg,2015-11-19,22:32:36,267,101,This is a northern Wahoo named Kohl. He runs this town. Chases tumbleweeds. Draws gun wicked fast. 11/10 legendary https://t.co/J4vn2rOYFk,Kohl,NaN,11.0,11.0,Toy Poodle,30.42,True,https://twitter.com/dog_rates/status/667470559035432960/photo/1
1942,666983947667116034,Twitter for iPhone,https://pbs.twimg.com/media/CUGaXDhW4AY9JUH.jpg,2015-11-18,14:18:59,2629,1025,This is a curly Ticonderoga named Pepe. No feet. Loves to jet ski. 11/10 would hug until forever https://t.co/cyDfaK8NBc,Pepe,NaN,11.0,11.0,Swab,58.94,False,https://twitter.com/dog_rates/status/666983947667116034/photo/1
1949,666781792255496192,Twitter for iPhone,https://pbs.twimg.com/media/CUDigRXXIAATI_H.jpg,2015-11-18,00:55:42,396,203,This is a purebred Bacardi named Octaviath. Can shoot spaghetti out of mouth. 10/10 https://t.co/uEvsGLOFHa,Octaviath,NaN,10.0,10.0,Italian Greyhound,61.83,True,https://twitter.com/dog_rates/status/666781792255496192/photo/1
1952,666701168228331520,Twitter for iPhone,https://pbs.twimg.com/media/CUCZLHlUAAAeAig.jpg,2015-11-17,19:35:19,441,224,This is a golden Buckminsterfullerene named Johm. Drives trucks. Lumberjack (?). Enjoys wall. 8/10 would hug softly https://t.co/uQbZJM2DQB,Johm,NaN,8.0,8.0,Labrador Retriever,88.77,True,https://twitter.com/dog_rates/status/666701168228331520/photo/1

In [81]:
twitter_archives_clean[twitter_archives_clean.name == 'None']

Empty DataFrame
Columns: [tweet_id, source, image_url, date, time, favourite_count, retweet_count, text, name, dog_type, rating_numerator, rating_denominator, prediction, confidence_percentage, breed_predicted, expanded_urls]
Index: []

### Define
Replace the inaccurate values in the rating_numerator column, where the numbers before the decimal were scraped off, with the correct values in the corresponding text column.

### Code

In [82]:
#from all text values containing floating point numbers followed by a forward slash (/), extracting those numbers 
values = twitter_archives_clean.loc[twitter_archives_clean.text.str.contains('(\d+\.\d+\/)'), 'text'].str.extract('(\d+\.\d+)')
#at rows which contains the aforementioned pattern in the the text values, assigning the numbers extracted above to the
#rating_numerator column
twitter_archives_clean.loc[twitter_archives_clean.text.str.contains('(\d+\.\d+\/)'), 'rating_numerator'] = values

In [83]:
#on visually assessing I found out that the ratings at index 925 were incorrect, rating_numerator and rating_denominator 
#should be 11 and 10 respectively instead of 50
twitter_archives_clean.loc[twitter_archives_clean.index == 925, 'rating_numerator'] = 11
twitter_archives_clean.loc[twitter_archives_clean.index == 925, 'rating_denominator'] = 10

### Test

In [84]:
#filtering out the rows which contain text values with floating point numbers as ratings
twitter_archives_clean.loc[twitter_archives_clean.text.str.contains('(\d+\.\d+\/)')]

,tweet_id,source,image_url,date,time,favourite_count,retweet_count,text,name,dog_type,rating_numerator,rating_denominator,prediction,confidence_percentage,breed_predicted,expanded_urls
39,883482846933004288,Twitter for iPhone,https://pbs.twimg.com/media/DELC9dZXUAADqUk.jpg,2017-07-08,00:28:19,46235,10140,"This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948",Bella,NaN,NaN,5.0,Golden Retriever,94.31,True,"https://twitter.com/dog_rates/status/883482846933004288/photo/1,https://twitter.com/dog_rates/status/883482846933004288/photo/1"
503,786709082849828864,Twitter for iPhone,https://pbs.twimg.com/media/CurzvFTXgAA2_AP.jpg,2016-10-13,23:23:56,19980,6911,"This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS",Logan,NaN,NaN,75.0,Pomeranian,46.73,True,https://twitter.com/dog_rates/status/786709082849828864/photo/1
553,778027034220126208,Twitter for iPhone,https://pbs.twimg.com/media/Cswbc2yWcAAVsCJ.jpg,2016-09-20,00:24:34,7197,1837,This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq,Sophie,NaN,NaN,27.0,Clumber,94.67,True,https://twitter.com/dog_rates/status/778027034220126208/photo/1
1374,680494726643068929,Twitter for iPhone,https://pbs.twimg.com/media/CXGaVxOWAAADjhF.jpg,2015-12-25,21:06:00,1841,532,Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD,NaN,NaN,NaN,26.0,Kuvasz,43.86,True,https://twitter.com/dog_rates/status/680494726643068929/photo/1

In [85]:
twitter_archives_clean[twitter_archives_clean.index == 925]

,tweet_id,source,image_url,date,time,favourite_count,retweet_count,text,name,dog_type,rating_numerator,rating_denominator,prediction,confidence_percentage,breed_predicted,expanded_urls
925,716439118184652801,Twitter for iPhone,https://pbs.twimg.com/media/CfFNk7cWAAA-hND.jpg,2016-04-03,01:36:11,2529,241,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,Bluebert,NaN,11.0,10.0,Siberian Husky,39.65,True,https://twitter.com/dog_rates/status/716439118184652801/photo/1

On visually assessing again I luckily found out that there are two tweets with the same dog name Phineas, image and almost similar texts.

In [86]:
twitter_archives_clean[twitter_archives_clean.name == 'Phineas']

,tweet_id,source,image_url,date,time,favourite_count,retweet_count,text,name,dog_type,rating_numerator,rating_denominator,prediction,confidence_percentage,breed_predicted,expanded_urls
0,892420643555336193,Twitter for iPhone,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,2017-08-01,16:23:56,39018,8662,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,Phineas,NaN,13.0,13.0,Orange,9.70,False,https://twitter.com/dog_rates/status/892420643555336193/photo/1
1748,670668383499735048,Twitter for iPhone,https://pbs.twimg.com/media/CU6xVkbWsAAeHeU.jpg,2015-11-28,18:19:37,11227,5385,This is Phineas. He's a magical dog. Only appears through the hole of a donut. 10/10 mysterious pup https://t.co/NECxEHN5YU,Phineas,NaN,10.0,10.0,Banana,10.73,False,https://twitter.com/dog_rates/status/670668383499735048/photo/1

Thus removing the more recent tweet at index 0 :

In [87]:
twitter_archives_clean = twitter_archives_clean.drop(0, axis = 0)

In [88]:
#checking if the row was removed
twitter_archives_clean[twitter_archives_clean.name == 'Phineas']

,tweet_id,source,image_url,date,time,favourite_count,retweet_count,text,name,dog_type,rating_numerator,rating_denominator,prediction,confidence_percentage,breed_predicted,expanded_urls
1748,670668383499735048,Twitter for iPhone,https://pbs.twimg.com/media/CU6xVkbWsAAeHeU.jpg,2015-11-28,18:19:37,11227,5385,This is Phineas. He's a magical dog. Only appears through the hole of a donut. 10/10 mysterious pup https://t.co/NECxEHN5YU,Phineas,NaN,10.0,10.0,Banana,10.73,False,https://twitter.com/dog_rates/status/670668383499735048/photo/1

## Image predictions table
### Define
Change tweet_id column's datatype from int to object.

### Code

In [89]:
image_predictions_clean.tweet_id = image_predictions_clean.tweet_id.astype(str)

### Test

In [90]:
image_predictions_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   object
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

### Define
Replace the underscores in the p1, p2 and p3 columns by spaces.

### Code

In [91]:
#replacing using the replace function
image_predictions_clean.p1 = image_predictions_clean.p1.str.replace('_',' ')
image_predictions_clean.p2 = image_predictions_clean.p2.str.replace('_',' ')
image_predictions_clean.p3 = image_predictions_clean.p3.str.replace('_',' ')

### Test

In [92]:
image_predictions_clean[['p1', 'p2', 'p3']]

                          p1                  p2                           p3
0     Welsh springer spaniel  collie              Shetland sheepdog
1     redbone                 miniature pinscher  Rhodesian ridgeback
2     German shepherd         malinois            bloodhound
3     Rhodesian ridgeback     redbone             miniature pinscher
4     miniature pinscher      Rottweiler          Doberman
...                  ...             ...               ...
2070  basset                  English springer    German short-haired pointer
2071  paper towel             Labrador retriever  spatula
2072  Chihuahua               malamute            kelpie
2073  Chihuahua               Pekinese            papillon
2074  orange                  bagel               banana

[2075 rows x 3 columns]

### Define
Convert the proportions in the p1_conf, p2_conf and p3_conf columns into percentages.

### Code

In [93]:
#using apply, multiplying 100 to each column value in each row
image_predictions_clean.p1_conf = image_predictions_clean.p1_conf.apply(lambda x: round(x*100, 2))
image_predictions_clean.p2_conf = image_predictions_clean.p2_conf.apply(lambda x: round(x*100, 2))
image_predictions_clean.p3_conf = image_predictions_clean.p3_conf.apply(lambda x: round(x*100, 2))

### Test

In [94]:
image_predictions_clean

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh springer spaniel,46.51,True,collie,15.67,True,Shetland sheepdog,6.14,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,50.68,True,miniature pinscher,7.42,True,Rhodesian ridgeback,7.20,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German shepherd,59.65,True,malinois,13.86,True,bloodhound,11.62,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian ridgeback,40.81,True,redbone,36.07,True,miniature pinscher,22.28,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature pinscher,56.03,True,Rottweiler,24.37,True,Doberman,15.46,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,55.57,True,English springer,22.58,True,German short-haired pointer,17.52,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper towel,17.03,False,Labrador retriever,16.81,True,spatula,4.08,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,71.60,True,malamute,7.83,True,kelpie,3.14,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,32.36,True,Pekinese,9.06,True,papillon,6.90,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,9.70,False,bagel,8.59,False,banana,7.61,False

### Define
Capitalize the first letter of every word in the columns p1, p2 and p3.

### Code

In [95]:
#capitalizing by using the str.title function
image_predictions_clean.p1 = image_predictions_clean.p1.str.title()
image_predictions_clean.p2 = image_predictions_clean.p2.str.title()
image_predictions_clean.p3 = image_predictions_clean.p3.str.title()

### Test

In [96]:
image_predictions_clean.head(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,46.51,True,Collie,15.67,True,Shetland Sheepdog,6.14,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,50.68,True,Miniature Pinscher,7.42,True,Rhodesian Ridgeback,7.20,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,59.65,True,Malinois,13.86,True,Bloodhound,11.62,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian Ridgeback,40.81,True,Redbone,36.07,True,Miniature Pinscher,22.28,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature Pinscher,56.03,True,Rottweiler,24.37,True,Doberman,15.46,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese Mountain Dog,65.11,True,English Springer,26.38,True,Greater Swiss Mountain Dog,1.62,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,Box Turtle,93.30,False,Mud Turtle,4.59,False,Terrapin,1.79,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,Chow,69.25,True,Tibetan Mastiff,5.83,True,Fur Coat,5.44,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,Shopping Cart,96.25,False,Shopping Basket,1.46,False,Golden Retriever,0.80,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,Miniature Poodle,20.15,True,Komondor,19.23,True,Soft-Coated Wheaten Terrier,8.21,True

### Define
Change the column names of jpg_url, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog for better viewing.

### Code

In [97]:
image_predictions_clean = image_predictions_clean.rename({'jpg_url': 'image_url', 'p1': 'prediction_1',
                                                          'p1_conf': 'confidence_percent_1', 'p1_dog': 'breed_predicted_1',
                                                          'p2': 'prediction_2', 'p2_conf': 'confidence_percent_2',
                                                          'p2_dog': 'breed_predicted_2', 'p3': 'prediction_3',
                                                          'p3_conf': 'confidence_percent_3', 'p3_dog': 'breed_predicted_3'},
                                                         axis = 'columns')

### Test

In [98]:
image_predictions_clean.head()

,tweet_id,image_url,img_num,prediction_1,confidence_percent_1,breed_predicted_1,prediction_2,confidence_percent_2,breed_predicted_2,prediction_3,confidence_percent_3,breed_predicted_3
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,46.51,True,Collie,15.67,True,Shetland Sheepdog,6.14,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,50.68,True,Miniature Pinscher,7.42,True,Rhodesian Ridgeback,7.20,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,59.65,True,Malinois,13.86,True,Bloodhound,11.62,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian Ridgeback,40.81,True,Redbone,36.07,True,Miniature Pinscher,22.28,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature Pinscher,56.03,True,Rottweiler,24.37,True,Doberman,15.46,True

## Tweet counts table
### Define
Change tweet_id column's datatype from int to object.

### Code

In [99]:
tweet_counts_clean.tweet_id = tweet_counts_clean.tweet_id.astype(str)

### Test

In [100]:
tweet_counts_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         2345 non-null   object
 1   retweet_count    2345 non-null   int64
 2   favourite_count  2345 non-null   int64
dtypes: int64(2), object(1)
memory usage: 55.1+ KB

## Storing
Storing the final cleaned datasets to csv files.

In [101]:
twitter_archives_clean.to_csv('twitter_archive_master.csv', index = False)
image_predictions_clean.to_csv('image_predicitons_clean.csv', index = False)
tweet_counts_clean.to_csv('tweet_counts_clean.csv', index = False)

## Analysis and Visualization

In [102]:
#reading the cleaned twitter archives csv file for analysis
twitter_data = pd.read_csv('twitter_archive_master.csv', encoding = 'utf-8')

In [103]:
twitter_data

,tweet_id,source,image_url,date,time,favourite_count,retweet_count,text,name,dog_type,rating_numerator,rating_denominator,prediction,confidence_percentage,breed_predicted,expanded_urls
0,892177421306343426,Twitter for iPhone,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,2017-08-01,00:17:27,33407,6361,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",Tilly,NaN,13.0,13.0,Chihuahua,32.36,True,https://twitter.com/dog_rates/status/892177421306343426/photo/1
1,891815181378084864,Twitter for iPhone,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,2017-07-31,00:18:03,25188,4224,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,Archie,NaN,12.0,12.0,Chihuahua,71.60,True,https://twitter.com/dog_rates/status/891815181378084864/photo/1
2,891689557279858688,Twitter for iPhone,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,2017-07-30,15:58:51,42374,8770,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,Darla,NaN,13.0,13.0,Paper Towel,17.03,False,https://twitter.com/dog_rates/status/891689557279858688/photo/1
3,891327558926688256,Twitter for iPhone,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2017-07-29,16:00:24,40526,9538,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",Franklin,NaN,12.0,12.0,Basset,55.57,True,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1"
4,891087950875897856,Twitter for iPhone,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,2017-07-29,00:08:17,20331,3166,Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh,NaN,NaN,13.0,13.0,Chesapeake Bay Retriever,42.56,True,https://twitter.com/dog_rates/status/891087950875897856/photo/1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,666049248165822465,Twitter for iPhone,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,2015-11-16,00:24:50,109,40,Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,5.0,5.0,Miniature Pinscher,56.03,True,https://twitter.com/dog_rates/status/666049248165822465/photo/1
1989,666044226329800704,Twitter for iPhone,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,2015-11-16,00:04:52,302,141,This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,a,NaN,6.0,6.0,Rhodesian Ridgeback,40.81,True,https://twitter.com/dog_rates/status/666044226329800704/photo/1
1990,666033412701032449,Twitter for iPhone,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,2015-11-15,23:21:54,125,45,Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,a,NaN,9.0,9.0,German Shepherd,59.65,True,https://twitter.com/dog_rates/status/666033412701032449/photo/1
1991,666029285002620928,Twitter for iPhone,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,2015-11-15,23:05:30,131,47,This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,a,NaN,7.0,7.0,Redbone,50.68,True,https://twitter.com/dog_rates/status/666029285002620928/photo/1
1992,666020888022790149,Twitter for iPhone,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,2015-11-15,22:32:08,2522,519,Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,8.0,8.0,Welsh Springer Spaniel,46.51,True,https://twitter.com/dog_rates/status/666020888022790149/photo/1

For the purpose of analysis I will divide this dataset into two parts: one with all the rows where dog breeds were predicted and the other where no dog breeds were predicted.

In [104]:
only_breeds = twitter_data[twitter_data.breed_predicted == True]
no_breeds = twitter_data[twitter_data.breed_predicted == False]

In [105]:
only_breeds.prediction.value_counts().head(10)

Golden Retriever      139
Labrador Retriever    95
Pembroke              88
Chihuahua             79
Pug                   54
Chow                  41
Samoyed               40
Toy Poodle            38
Pomeranian            38
Malamute              29
Name: prediction, dtype: int64

These are the top 10 most common dog breeds predicted out of all the dog pictures that were sent in.

In [106]:
only_breeds.groupby('prediction')['favourite_count'].mean().sort_values(ascending = False).head(10)

prediction
Saluki                     23760.250000
French Bulldog             18417.692308
Afghan Hound               17034.333333
Black-And-Tan Coonhound    16749.500000
Flat-Coated Retriever      16554.375000
Irish Water Spaniel        16132.000000
Standard Poodle            15564.000000
English Springer           15441.444444
Cardigan                   15072.823529
Leonberg                   14679.666667
Name: favourite_count, dtype: float64

Here are the top 10 breeds predicted with the highest mean favourite counts. None of the top most common dog breeds of this dataset make the cut here. Do these same breeds have the highest mean retweet counts? Let's check that out.

In [107]:
only_breeds.groupby('prediction')['retweet_count'].mean().sort_values(ascending = False).head(10)

prediction
Standard Poodle     6487.857143
English Springer    5855.777778
Afghan Hound        5834.666667
Saluki              5024.250000
French Bulldog      4751.961538
Eskimo Dog          4659.722222
Great Pyrenees      4613.571429
Lakeland Terrier    4526.875000
Samoyed             4512.750000
Cardigan            4436.411765
Name: retweet_count, dtype: float64

Though not in the same order but this list is almost the same as the one before. Only Eskimo dog, Great Pyrenees, Lakeland Terrrier and the Samoyed don't make it to the favourite counts list.

In [108]:
twitter_data.groupby('breed_predicted')['confidence_percentage'].mean().sort_values(ascending = False)

breed_predicted
True     61.436513
False    53.644690
Name: confidence_percentage, dtype: float64

These are the mean confidence levels for predictions that were dog breeds and predictions that weren't. It seems the neural network used for prediction was more confident when the prediction was a dog breed.

In [109]:
mean_ratings = only_breeds.groupby('prediction')['rating_numerator', 'favourite_count', 'retweet_count'].mean()
mean_ratings.sort_values(by = 'rating_numerator', ascending = False).head(10)

                             rating_numerator  favourite_count  retweet_count
prediction
Soft-Coated Wheaten Terrier  25.454545         2243.272727      796.181818
West Highland White Terrier  15.642857         6408.785714      1520.642857
Great Pyrenees               14.928571         12715.285714     4613.571429
Borzoi                       14.444444         6115.777778      1894.222222
Labrador Retriever           13.905263         11644.473684     3774.378947
Golden Retriever             13.268116         12164.302158     3573.338129
Saluki                       12.500000         23760.250000     5024.250000
Briard                       12.333333         9358.666667      2898.333333
Tibetan Mastiff              12.250000         11980.000000     4087.250000
Border Terrier               12.142857         13378.571429     3304.142857

This table shows the top 10 breeds with the highest mean ratings and their corresponding mean favourite and retweet counts. The favourite and retweet counts are actually lower as compared to that of other breeds.

In [110]:
twitter_data.groupby(['dog_type'])['rating_numerator'].mean().sort_values(ascending = False)

dog_type
floofer    12.500000
puppo      12.111111
doggo      11.695652
pupper     10.780142
Name: rating_numerator, dtype: float64

This table shows the mean rating for every dog type category. It seems like floofers and puppos were highly rated dogs.

In [111]:
only_breeds.groupby(['dog_type'])['prediction'].value_counts()

dog_type  prediction
doggo     Golden Retriever        5
          Labrador Retriever      4
          German Shepherd         3
          Cocker Spaniel          2
          Dalmatian               2
                                 ..
puppo     Miniature Pinscher      1
          Old English Sheepdog    1
          Pembroke                1
          Rottweiler              1
          Siberian Husky          1
Name: prediction, Length: 91, dtype: int64

This list shows the value counts for every breed in each dog type category. Only two dogs were categorised as floofers and they were of the breeds Chow and Golden Retriever. The number of dogs classified as puppos also doesn't seem to be very high as compared to pupper and doggo.

In [112]:
twitter_data.groupby('dog_type')['favourite_count'].describe()

,count,mean,std,min,25%,50%,75%,max
dog_type,,,,,,,,
doggo,46.0,18264.195652,21683.919817,2548.0,6930.75,12524.0,19812.25,129032.0
floofer,2.0,17471.500000,7367.345553,12262.0,14866.75,17471.5,20076.25,22681.0
pupper,141.0,7167.170213,12868.766654,676.0,2365.00,3217.0,6616.00,124792.0
puppo,27.0,22720.888889,28078.104821,3227.0,7113.00,16074.0,23224.50,144098.0

This table displays all the descriptive statistics for favourite count in every dog type category. From this it looks like puppos were the most popular dogs (to no surprise since they are usually puppies). Their mean and max count values are the highest in their respective departments.

Let's check out the descriptive statistics of some of the features in the two datasets I created earlier.

In [113]:
only_breeds.iloc[ : , 1:].describe()

,favourite_count,retweet_count,rating_numerator,rating_denominator,confidence_percentage
count,1477.000000,1477.000000,1473.000000,1477.000000,1477.000000
mean,9244.136087,2750.877454,11.479973,11.538253,61.436513
std,12910.754871,4782.806085,7.634734,7.822865,26.034166
min,80.000000,13.000000,1.000000,1.000000,4.430000
25%,2188.000000,643.000000,10.000000,10.000000,39.210000
50%,4431.000000,1418.000000,11.000000,11.000000,61.570000
75%,11570.000000,3183.000000,12.000000,12.000000,85.320000
max,144098.000000,77908.000000,165.000000,165.000000,100.000000

In [114]:
no_breeds.iloc[: , 1:].describe()

,favourite_count,retweet_count,rating_numerator,rating_denominator,confidence_percentage
count,516.000000,516.000000,516.000000,516.000000,516.000000
mean,7850.664729,2695.908915,14.327519,14.327519,53.644690
std,11665.736841,4565.961911,80.500204,80.500204,29.491312
min,105.000000,34.000000,0.000000,0.000000,5.900000
25%,1480.750000,568.750000,8.000000,8.000000,27.695000
50%,3116.000000,1104.000000,10.000000,10.000000,47.905000
75%,9303.250000,2814.000000,12.000000,12.000000,82.175000
max,92998.000000,39789.000000,1776.000000,1776.000000,100.000000

There are 1477 rows with breeds predicted in them to 516 with non-breeds. All the statistics seem to be greater in the breeds dataset except the numerator rating which is slightly higher in the non-breeds table.