In [42]:
### Load in the libraries and the data
import pandas as pd
import matplotlib.pyplot as plt


data = pd.read_csv('top 500 products - requests.csv')
data.head()

,Substance Substance Name,Substance Cas Number,Product Total Number of Requests
0,Urea,57-13-6,913
1,Isopropanol,67-63-0,795
2,Sodium Hydroxide,1310-73-2,710
3,Phosphoric Acid,7664-38-2,563
4,Glycerol,56-81-5,545

In [59]:
data2 = pd.read_csv('All Substance.csv')
data2.head()

,company_name,company_id,cas_number,substance_name
0,20 Microns Limited,3896,12001-26-2,Mica
1,20 Microns Limited,3896,1309-37-1,Iron (III) Oxide
2,20 Microns Limited,3896,1332-58-7,Kaolin
3,20 Microns Limited,3896,13462-86-7,Barite (Ba(SO4))
4,20 Microns Limited,3896,14807-96-6,Magnesium silicate monohydrate (Talc)

In [44]:
data2.shape

(98531, 4)

In [49]:
top500 = data['Substance Substance Name']
top500 = list(top500)
top500

['Urea',
 'Isopropanol',
 'Sodium Hydroxide',
 'Phosphoric Acid',
 'Glycerol',
 'Acetone',
 'Propylene Glycol',
 'Ethanol',
 'Hydrogen Peroxide',
 'Citric Acid Monohydrate',
 'Methylene Chloride',
 'Citric Acid',
 'Titanium Dioxide',
 'Ethyl Acetate',
 'Hydrogen Chloride',
 'Ethane-1,2-diol',
 '2-Butoxyethanol',
 'Potassium Hydroxide',
 'Acetic Acid',
 'n-Butyl Acetate',
 'Xylene',
 'Sodium Bicarbonate',
 'Sodium Carbonate',
 'Methyl Ethyl Ketone',
 '2-(2-Butoxyethoxy)ethanol',
 'Polyethylene Glycol (PEG)',
 'Methanol',
 'Toluene',
 'Ethanolamine',
 'Xanthan Gum',
 'Sulfuric Acid',
 'Formic Acid',
 'Titanium Dioxide (Rutile)',
 'Tetrachloroethylene',
 'Dimethyl Sulfoxide',
 'N,N-Dimethylformamide',
 'Potassium Chloride',
 'Methoxypropoxypropanol',
 'Methyl Methacrylate',
 'Boric Acid',
 'Tetrahydrofuran',
 'Nitric Acid',
 'Maleic Anhydride',
 'Benzyl Alcohol',
 'Ethylene Vinyl Acetate (EVA)',
 'Dipropylene Glycol',
 'Diethylene Glycol',
 'Acrylic Acid',
 'Sulphamidic Acid',
 'Triethanolamine',
 'Styrene',
 'Butyl Acrylate',
 'Diisononyl Phthalate',
 'Propylene Carbonate',
 'Polyvinyl Alcohol',
 '1-Methoxy-2-propylacetate',
 'Sodium Metabisulfite',
 'Calcium Chloride Dihydrate',
 'Ammonium Hydroxide Solution',
 'N-Methyl Pyrrolidone',
 'Methacrylic Acid',
 'Vinyl Acetate',
 'Potassium Carbonate',
 'Ammonium Sulphate',
 'Methyl Acetate',
 'Distillates (Petroleum), hydrotreated light',
 'Sulfur',
 'Sodium Gluconate',
 '1,4-Butanediol',
 'Potassium Nitrate',
 'Cyclohexanone',
 'Naphtha (petroleum), hydrotreated heavy',
 'Isopropyl Myristate',
 'Triacetin',
 'Iron Trichloride',
 '2-Ethylhexanol',
 'Benzoic Acid',
 'Alcohols, C12-14, ethoxylated, Sulfates, Sodium Salts',
 'Sodium Sulfide',
 'Glycolic Acid',
 'Silicon Dioxide',
 'Trichloroethylene',
 'Ammonium Chloride',
 'Magnesium Oxide',
 'Butyl Diglycol Acetate',
 'Cyclohexane',
 'EDTA Tetrasodium Salt',
 'Trisodium Citrate Dihydrate',
 'Sorbitol',
 'Phosphonic Acid',
 'Phthalic Anhydride',
 'Lithium Carbonate',
 'Dimethyl Siloxane',
 'Iron Sulphate',
 '1-Methoxy-2-Propanol',
 'Hexane',
 'Sodium Hypochlorite',
 'Ascorbic Acid',
 'Dibasic Esters',
 'Sodium Chloride',
 'Phenoxyethanol',
 'Sodium Dithionite',
 'Lecithins',
 'Sunflower Oil',
 'Sodium Nitrite',
 'Guar Gum',
 'Methyl Isobutyl Ketone',
 'Pentaerythritol',
 'Calcium Carbonate',
 'Dipropylene Glycol mono-Butyl Ether',
 'Lactic Acid',
 'Ammonia',
 'Stearic Acid',
 'Adipic Acid',
 '3-Aminomethyl-3,5,5-trimethylcyclohexylamine',
 'Cellulose',
 '2-Hydroxyethyl Methacrylate',
 'n-Butanol',
 'Sodium Sulfate Anhydrous',
 'Diethanolamine',
 'Disodium Oxosilanediolate Pentahydrate',
 'Polyethylene (PE)',
 'Trimethylol Propane Triacrylate',
 'Sodium Benzoate',
 'Castor Oil (refined)',
 "2,2'-Iminodi(ethylamine)",
 'Ammonium Dihydrogenorthophosphate',
 'Sodium Nitrate',
 'Etidronic Acid',
 'Lithium Hydroxide Monohydrate',
 'Diammonium Hydrogenorthophosphate',
 'Calcium Dihydroxide',
 'Zinc Oxide',
 'Dodecylbenzenesulfonic Acid',
 'Ammonium Polyphosphate',
 'n-Heptane',
 'Linseed Oil',
 'Pentasodium Triphosphate',
 'Magnesium Chloride Hexahydrate',
 'Sodium Percarbonate',
 'Zinc Dichloride',
 '2-Butoxyethyl Acetate',
 'Fatty Acid, C16-18',
 'Butylated Hydroxytoluene (BHT)',
 'Barium Sulfate',
 'Carbon Black',
 'Soybean Oil',
 'Isobutanol',
 'White Mineral Oil (Petroleum)',
 'Petroleum Benzine',
 'Dimethyl Carbonate',
 'Methenamine',
 '2-Dodecoxyethyl Hydrogen Sulfate',
 'Polyvinyl Alcohol',
 'Polyvinyl Pyrrolidone',
 'Potassium Sorbate',
 'Zinc Sulphide',
 'Sodium Fluoride',
 'Aluminum Trihydroxide',
 'Oxalic Acid',
 'Copper Sulfate Pentahydrate',
 'Soybean Oil, epoxidized',
 'Glycine',
 'Isobutyric Acid, Monoester with 2,2,4-Trimethylpentane-1,3-diol',
 'Polypropylene Glycol',
 '2-Ethylhexyl Acrylate',
 'Iodine',
 'Bis(2-ethylhexyl) Terephthalate',
 'n-Propanol',
 'Mixture of Isothiazolinones (CMIT/MIT)',
 'Benzotriazole',
 'Maltodextrin',
 'Hydroxypropyl Methylcellulose',
 'Magnesiumsulfat Heptahydrate',
 'Glutaral',
 'Ammomium Nitrate',
 'Magnesium Carbonate',
 'Hydrofluoric Acid',
 'Solvent Naphtha, Petroleum, heavy arom.',
 'Fumed Silica',
 'Cetrimonium Chloride',
 'Aluminium',
 'Calcium Hypochlorite',
 'D-Limonene',
 'Diethylene Glycol Monoethyl Ether',
 'Sorbitan Monooleate, ethoxylated',
 'Oleic Acid',
 'Ethyl Lactate',
 'Dodecyl Sulfate Sodium Salt',
 'Methanesulfonic Acid',
 'Paraffin Oil',
 'Paraffin Waxes and Hydrocarbon Waxes',
 'Sodium Formate',
 'Acrylic Resin',
 'Acetonitrile',
 'Stoddard Solvent',
 'Fatty Alcohols, C16-C18',
 'Caffeine',
 '2-[2-[Bis(carboxymethyl)amino]ethyl-(carboxymethyl)amino]acetic Acid',
 '1-Ethoxy-2-propanol',
 'Calcium Diformate',
 'Tetrapotassium Pyrophosphate',
 'Hexamethylene Diacrylate',
 'Rapeseed Oil',
 'Sodium Silicate',
 'γ-Butyrolactone',
 'Tert-Butyl Methyl Ether',
 'Erythritol',
 'Polypropylene (PP)',
 'Terephthalic Acid',
 'Caprylic Acid',
 'Triethylene Glycol',
 'Lithium Chloride',
 'Chromium(III) Oxide',
 'Solvent Naphtha (Petroleum), light arom.',
 'Oxybis(methyl-2,1-ethanediyl) Diacrylate',
 'Potassium Iodide',
 'L-Tryptophan',
 'Alcohols, C12-14, ethoxylated',
 'Methylal',
 'Sodium polyacrylate',
 'Chloroform',
 '2-Dimethylaminoethanol',
 'Aluminium Oxide',
 'Monocalcium Phosphate (MCP)',
 'Acetylacetone',
 'Calcium Nitrate Anhydrous',
 'Isobutyl Acetate',
 'Magnesium silicate monohydrate (Talc)',
 'Sodium Bisulfite',
 'Dicyclopentadiene (DCPD)',
 'Diantimony Trioxide',
 'Silicic Acid Potassium Salt',
 'Isophthalic Acid',
 'Chitosan',
 'Succinic Acid',
 'Polyvinyl Chloride (PVC)',
 'Acetyl Chloride',
 'Silver Nitrate',
 'Phenol',
 'Neopentyl Glycol',
 'Barium Carbonate',
 'Isoamyl Alcohol',
 'Melamine',
 "N,N''-Methylenebis[N'-[3-(hydroxymethyl)-2,5-dioxoimidazolidin-4-yl]urea]",
 'Amides, Coco, N,N-bis(Hydroxyethyl)',
 '2-Methylpentane-2,4-diol',
 'Hydrocarbons, C9-C12, n-Alkanes, Isoalkanes, Cyclics, Aromatics (2-25%)',
 'Sorbic Acid',
 'Stearic Acid, Monoester with Glycerol',
 'Sodium Cocoyl Isethionate',
 'Hydroquinone',
 '1-Methoxy-3-(3-methoxypropoxy)propane',
 'Tolyltriazole',
 'Potassium Permanganate',
 'Graphite',
 'Docusate Sodium',
 'Sunflower Oil High Oleic',
 'Lignosulfonic Acid, Sodium Salt',
 'Carboxymethyl Cellulose Sodium Salt',
 '1,1,3,3-Tetramethylguanidine',
 'Dioctyl Adipate',
 'Formaldehyde',
 'Toluene Diisocyanate',
 'Water',
 'Sorbitan Monolaurate, ethoxylated',
 'Lactic Acid',
 'Kieselguhr, Soda Ash Flux-calcined',
 'Salicylic Acid',
 'Azelaic Acid',
 'Potassium Sulfate',
 'Polyphosphoric Acids, Sodium Salts',
 'Tetrasodium Glutamate Diacetate',
 'Calcium Sulfate',
 'Ammonium Nitrite',
 'Cellulose, 2-Hydroxyethyl Ether',
 'Tributyl O-Acetylcitrate',
 '1,3-Propanediol',
 '1,2-Dichloroethane (EDC)',
 'Glyoxal',
 'Benzophenone',
 'Propylene Glycol n-Butyl Ether',
 'Paraffin Waxes and Hydrocarbon Waxes, Chloro',
 '2-Methyl-2-acrylic Acid Ethyl Acrylate and Polyethyleneglycol Monomethylacrylate-C16-18-alkyl Ether Polymer',
 'Malic Acid',
 'Carrageenan',
 'Morpholine',
 'Algiline',
 '1,3-Dioxolan-2-one',
 'Calcium Dichloride',
 '3-Glycidoxypropyltrimethoxysilane',
 '2-Propenoic acid, (1-methyl-1,2-ethanediyl)bis(oxy(methyl-2,1-ethanediyl)) Ester',
 'Nitrocellulose',
 'Ammonium Hydrogen Difluoride',
 'Oxalic Acid Dihydrate',
 'Sodium Bromide',
 'Sodium Acetate',
 'Sodium Sulfite',
 'Nitrilotrimethylenetris(phosphonic Acid)',
 'Vitamin B2',
 'Cocamidopropyl betaine',
 'Magnesium Stearate',
 'Carboxymethyl Cellulose',
 'Caprolactam',
 'Sucralose',
 'o-Xylol',
 'Hydrogenated Castor Oil',
 'Gum Rosin (Colophony)',
 'Tannins',
 'Propionic Acid',
 'Glycerides, mixed Decanoyl and Octanoyl',
 'Sodium Metaphosphate',
 'Hydroxythyl Methyl Cellulose',
 'Triethylamine',
 '1-Octadecanol',
 '1-Hexadecanol',
 'Linseed Oil, oxidized',
 'Bisphenol A',
 'Diacetone Alcohol',
 'Tung Oil',
 'beta-Cyclodextrin',
 'Glycidyl Methacrylate',
 'Nitrogen-phosphorus-potassium Fertilizer',
 'Benzalkonium Chloride',
 '2-Hydroxyethyl Acrylate',
 'Dioctylphthalate (DOP)',
 'Starch',
 'Aluminum Sulfate',
 'Sodium Ascorbate',
 'Kaolin',
 'Diethyl Ether',
 'Vanillin',
 'Butyl Methacrylate',
 'Acrylamide',
 'Bronopol',
 'N,N-Dimethyl-p-toluidine',
 'N,N-Diethylhydroxylamine',
 'Silica Gel',
 'Vinyltrimethoxysilane',
 'Coconut Oil Refined',
 'Triethyl Phosphate',
 'Carnauba Wax',
 'Triethyl Citrate',
 'Xylitol',
 'n-Propyl Acetate',
 'Alcohols, C9-11, ethoxylated',
 'Ethyl Lactate',
 'Ammonium Persulfate',
 'Sulfonic Acids, C14-16-Alkane Hydroxy and C14-16-Alkene, Sodium Salts',
 'Ethylacrylat',
 'Poly(dimethylsiloxane)',
 'Gum Arabic',
 'Isocyanic Acid, Polymethylenepolyphenylene Ester',
 'Sodium Metaperiodate',
 'Diphenyl(2,4,6-trimethylbenzoyl)phosphine Oxide',
 'Lubricating Oils (Petroleum), Base Oils, Paraffinic',
 'Potassium Iodate',
 'Formaldehyde-naphthalenesulfonic Acid Condensate Sodium salt',
 '1-Vinyl-2-pyrrolidone',
 '1-Ethyl-2-Pyrrolidone',
 'Potassium Peroxymonosulfate Sulfate',
 'Sodium Tetrahydroborate',
 'Sodium Stearate',
 '3-Aminopropyltriethoxysilane',
 'Glucose',
 'Tripropylene Glycol Methyl Ether',
 'Aziridine, homopolymer',
 'Gluconic Acid',
 'Carthamus Tinctorius Seed Oil',
 'Dipropylene Glycol n-Propyl Ether',
 '2,4,7,9-Tetramethyldec-5-yne-4,7-diol',
 'Tridecanol, ethoxylated',
 'Acrylic Polymer',
 'Calcium Lignosulfonate',
 'Diethyl Carbonate',
 'Potassium Bicarbonate',
 'L-Menthol',
 'Dibutyl Sebacate',
 'Tributyl Phosphate',
 'Dibasic Potassium Phosphate',
 'Methylacrylat',
 'Methoxypropanol',
 'BDTA',
 'Benzaldehyde',
 'Sodium Methanolate',
 'Maltitol',
 'Fructose',
 'Fumaric Acid',
 'Iron (II,III) Oxide',
 'Sodium Chlorite',
 'Diisobutyl Ketone',
 'Sodium Alkyl Sulfate',
 'Thiourea',
 'Calcinated Kaolin',
 'Soybean Oil, hydrogenated',
 'Rape Oil, Fatty Acids, Methyl Esters',
 'Dibenzoyl Peroxide',
 'Edetic Acid',
 'Methanamine Aminomethane',
 'Cobalt(II) chloride hexahydrate',
 'Trisodium Citrate',
 'Nickel Sulfate Hexahydrate',
 'Sodium Mercaptoacetate',
 'Magnesium Sulfate',
 'Zirconia',
 "2,2'-[(1-Methylethylidene)bis(4,1-phenyleneoxymethylene)]bisoxirane",
 '2-(1-Methylguanidino)acetic Acid Hydrate',
 'Diisodecyl phthalate',
 'Diisodecyl Phthalate',
 'Ethylene glycol-neopentyl glycol-trimethylolpropane-adipic acid-isophthalic acid-terephthalic acid copolymer',
 '1,3-Butanediol',
 'Dibutyl Phthalate (DBP)',
 'Methylcyclohexane',
 'Tetrakis(ethoxy)silane',
 '4-Methylbenzene-1-sulfonic Acid Hydrate',
 'Siloxanes and Silicones, Me hydrogen',
 '4-Acryloylmorpholine',
 'Itaconic Acid',
 'Benzyl Benzoate',
 'Trisodium Phosphate Dodecahydrate',
 'Benzisothiazolinone',
 'Tris(2-chloro-1-methylethyl) Phosphate',
 'Cyanocobalamin',
 'n-Hexylglycol',
 'Disodium Dihydrogenpyrophosphate',
 'Ammonium Iron(III) Citrate',
 'Diphosphorus Pentaoxide',
 'Lysine Hydrochloride',
 '2,2-Dimethyl-1,3-dioxolan-4-ylmethanol',
 'Potassium Fluoride',
 'Sodium Caseinate',
 'Molybdate (MoO42-), Sodium, Hydrate (1:2:2), (T-4)-',
 'Potassium Dihydrogen Phosphate',
 '1-n-Octyl-2-pyrrolidone',
 'Alkyd Resin',
 'Fatty Acids, C16-18, Zinc Salts',
 'Alkylpolyglucoside C10-16',
 'Methyl Salicylate',
 'Didecyldimethylammonium Chloride',
 'Butynediol',
 'Methylene Blue',
 'Urea Phosphate',
 'Borax Decahydrate',
 'Diaminoethane',
 'Lauric Acid',
 'D-Glucopyranose, Oligomers, Decyl Octyl Glycosides',
 'Tartaric Acid',
 'Polychloro Copper Phthalocyanine',
 'Nicotinic Acid',
 'Isopropyl Acetate',
 'Gelatins',
 'Manganese Sulfate Monohydrate',
 '2-Hydroxypropyl-beta-cyclodextrin',
 'Methyl Ethyl Ketoxime',
 '2-Ethylhexanoic Acid',
 'Iron (III) Oxide',
 'Caseins',
 'Potassium Methylsilanetriolate',
 'Sodium Dichloroisocyanurate Dihydrate',
 'Tri-Isobutyl Phosphate',
 'Caramel',
 'Zinc Sulfate Heptahydrate',
 'Calcium Oxide',
 'L-Threonine',
 '1-Phenoxypropan-2-ol',
 'Methylparaben',
 'Polyvinyl Acetate',
 '1,6-Hexanediamine',
 'Methylisothiazolinone',
 'Hyaluronic Acid, Sodium Salt',
 'Dimethicone',
 '1,2-Cyclohexanedicarboxylic Acid, 1,2-Diisononyl Ester',
 'L-Cysteine Hydrochloride Monohydrate',
 'L-Carnitine',
 'Hexamethyldisiloxane',
 'Dextrose Monohydrate',
 'Sodium Thiosulphate Pentahydrate',
 'Betaine',
 'D(+)-Biotin',
 'Cyclopentane',
 'Trisodium Phosphate',
 '(3R)-3-Amino-1-[3-(trifluoromethyl)-6,8-dihydro-5H-[1,2,4]triazolo[4,3-a]pyrazin-7-yl]-4-(2,4,5-trifluorophenyl)butan-1-one; Hydrochloric Acid ; hydrate',
 'Isopropyl Ether',
 'L-Glutamine',
 'Poloxalene',
 'Sulfuric Acid, Mono-C12-18-alkyl Esters, Sodium Salts',
 'Sodium Oleate',
 'Isododecane',
 'Colecalciferol',
 '2-Propenoic Acid, 2-Methyl-, Polymer with Butyl 2-Propenoate and Ethenylbenzene',
 'Sodium Molybdate',
 'Barium Hydroxide Octahhydrate',
 'Distillates (petroleum), solvent-refined heavy paraffinic',
 'Disodium Metasilicate',
 'Epichlorohydrine',
 'Pentaerythritol Tetrakis(3-(3,5-di-tert-butyl-4-hydroxyphenyl)propionate)',
 '2-Dimethylaminoethyl Methacrylate',
 'Magnesium Chloride',
 'Dioctyl Adipate',
 'Potassium Formate']

In [56]:
top500_substances_requests = data[['Substance Substance Name','Product Total Number of Requests']]
top500_substances_requests

,Substance Substance Name,Product Total Number of Requests
0,Urea,913
1,Isopropanol,795
2,Sodium Hydroxide,710
3,Phosphoric Acid,563
4,Glycerol,545
...,...,...
495,"Pentaerythritol Tetrakis(3-(3,5-di-tert-butyl-...",13
496,2-Dimethylaminoethyl Methacrylate,13
497,Magnesium Chloride,13
498,Dioctyl Adipate,13
499,Potassium Formate,13

In [60]:
data2.columns

Index(['company_name', 'company_id', 'cas_number', 'substance_name'], dtype='object')

In [61]:
data2['flag'] = data2['substance_name'].isin(top500).astype(int)
data2

,company_name,company_id,cas_number,substance_name,flag
0,20 Microns Limited,3896,12001-26-2,Mica,0
1,20 Microns Limited,3896,1309-37-1,Iron (III) Oxide,1
2,20 Microns Limited,3896,1332-58-7,Kaolin,1
3,20 Microns Limited,3896,13462-86-7,Barite (Ba(SO4)),0
4,20 Microns Limited,3896,14807-96-6,Magnesium silicate monohydrate (Talc),1
...,...,...,...,...,...
98526,Хим Органик,39346,7647-14-5,Sodium Chloride,1
98527,Химпищеаромат (Khimpishchearomat LLC),9519,5329-14-6,Sulphamidic Acid,1
98528,Химпищеаромат (Khimpishchearomat LLC),9519,64-17-5,Ethanol,1
98529,Химпищеаромат (Khimpishchearomat LLC),9519,69-72-7,Salicylic Acid,1
98530,Химпищеаромат (Khimpishchearomat LLC),9519,9004-61-9,Hyaluronic Acid,0

In [62]:
top500_substances_requests = top500_substances_requests.rename(columns={'Substance Substance Name': 'substance_name'})
top500_substances_requests

,substance_name,Product Total Number of Requests
0,Urea,913
1,Isopropanol,795
2,Sodium Hydroxide,710
3,Phosphoric Acid,563
4,Glycerol,545
...,...,...
495,"Pentaerythritol Tetrakis(3-(3,5-di-tert-butyl-...",13
496,2-Dimethylaminoethyl Methacrylate,13
497,Magnesium Chloride,13
498,Dioctyl Adipate,13
499,Potassium Formate,13

In [53]:
data2

,company_name,substance_name,cas_number,company_id,flag
0,20 Microns Limited,3896,12001-26-2,Mica,0
1,20 Microns Limited,3896,1309-37-1,Iron (III) Oxide,0
2,20 Microns Limited,3896,1332-58-7,Kaolin,0
3,20 Microns Limited,3896,13462-86-7,Barite (Ba(SO4)),0
4,20 Microns Limited,3896,14807-96-6,Magnesium silicate monohydrate (Talc),0
...,...,...,...,...,...
98526,Хим Органик,39346,7647-14-5,Sodium Chloride,0
98527,Химпищеаромат (Khimpishchearomat LLC),9519,5329-14-6,Sulphamidic Acid,0
98528,Химпищеаромат (Khimpishchearomat LLC),9519,64-17-5,Ethanol,0
98529,Химпищеаромат (Khimpishchearomat LLC),9519,69-72-7,Salicylic Acid,0
98530,Химпищеаромат (Khimpishchearomat LLC),9519,9004-61-9,Hyaluronic Acid,0

In [63]:
data2.loc[data2['flag'] == 1]

,company_name,company_id,cas_number,substance_name,flag
1,20 Microns Limited,3896,1309-37-1,Iron (III) Oxide,1
2,20 Microns Limited,3896,1332-58-7,Kaolin,1
4,20 Microns Limited,3896,14807-96-6,Magnesium silicate monohydrate (Talc),1
7,20 Microns Limited,3896,471-34-1,Calcium Carbonate,1
9,20 Microns Limited,3896,92704-41-1,Calcinated Kaolin,1
...,...,...,...,...,...
98525,Хим Органик,39346,7647-01-0,Hydrogen Chloride,1
98526,Хим Органик,39346,7647-14-5,Sodium Chloride,1
98527,Химпищеаромат (Khimpishchearomat LLC),9519,5329-14-6,Sulphamidic Acid,1
98528,Химпищеаромат (Khimpishchearomat LLC),9519,64-17-5,Ethanol,1
98529,Химпищеаромат (Khimpishchearomat LLC),9519,69-72-7,Salicylic Acid,1

In [64]:
df3 = pd.merge(data2, top500_substances_requests, on='substance_name',how="left")
df3

,company_name,company_id,cas_number,substance_name,flag,Product Total Number of Requests
0,20 Microns Limited,3896,12001-26-2,Mica,0,NaN
1,20 Microns Limited,3896,1309-37-1,Iron (III) Oxide,1,14.0
2,20 Microns Limited,3896,1332-58-7,Kaolin,1,21.0
3,20 Microns Limited,3896,13462-86-7,Barite (Ba(SO4)),0,NaN
4,20 Microns Limited,3896,14807-96-6,Magnesium silicate monohydrate (Talc),1,31.0
...,...,...,...,...,...,...
98717,Хим Органик,39346,7647-14-5,Sodium Chloride,1,72.0
98718,Химпищеаромат (Khimpishchearomat LLC),9519,5329-14-6,Sulphamidic Acid,1,123.0
98719,Химпищеаромат (Khimpishchearomat LLC),9519,64-17-5,Ethanol,1,480.0
98720,Химпищеаромат (Khimpishchearomat LLC),9519,69-72-7,Salicylic Acid,1,26.0
98721,Химпищеаромат (Khimpishchearomat LLC),9519,9004-61-9,Hyaluronic Acid,0,NaN

In [65]:
df3.loc[df3['flag'] == 1]

,company_name,company_id,cas_number,substance_name,flag,Product Total Number of Requests
1,20 Microns Limited,3896,1309-37-1,Iron (III) Oxide,1,14.0
2,20 Microns Limited,3896,1332-58-7,Kaolin,1,21.0
4,20 Microns Limited,3896,14807-96-6,Magnesium silicate monohydrate (Talc),1,31.0
7,20 Microns Limited,3896,471-34-1,Calcium Carbonate,1,66.0
9,20 Microns Limited,3896,92704-41-1,Calcinated Kaolin,1,17.0
...,...,...,...,...,...,...
98716,Хим Органик,39346,7647-01-0,Hydrogen Chloride,1,366.0
98717,Хим Органик,39346,7647-14-5,Sodium Chloride,1,72.0
98718,Химпищеаромат (Khimpishchearomat LLC),9519,5329-14-6,Sulphamidic Acid,1,123.0
98719,Химпищеаромат (Khimpishchearomat LLC),9519,64-17-5,Ethanol,1,480.0
98720,Химпищеаромат (Khimpishchearomat LLC),9519,69-72-7,Salicylic Acid,1,26.0

In [66]:
df3['Product Total Number of Requests'] = df3['Product Total Number of Requests'].fillna(0)
df3

,company_name,company_id,cas_number,substance_name,flag,Product Total Number of Requests
0,20 Microns Limited,3896,12001-26-2,Mica,0,0.0
1,20 Microns Limited,3896,1309-37-1,Iron (III) Oxide,1,14.0
2,20 Microns Limited,3896,1332-58-7,Kaolin,1,21.0
3,20 Microns Limited,3896,13462-86-7,Barite (Ba(SO4)),0,0.0
4,20 Microns Limited,3896,14807-96-6,Magnesium silicate monohydrate (Talc),1,31.0
...,...,...,...,...,...,...
98717,Хим Органик,39346,7647-14-5,Sodium Chloride,1,72.0
98718,Химпищеаромат (Khimpishchearomat LLC),9519,5329-14-6,Sulphamidic Acid,1,123.0
98719,Химпищеаромат (Khimpishchearomat LLC),9519,64-17-5,Ethanol,1,480.0
98720,Химпищеаромат (Khimpishchearomat LLC),9519,69-72-7,Salicylic Acid,1,26.0
98721,Химпищеаромат (Khimpishchearomat LLC),9519,9004-61-9,Hyaluronic Acid,0,0.0

In [67]:
df3.flag.value_counts()

0    81890
1    16832
Name: flag, dtype: int64

In [68]:
df3.head()

,company_name,company_id,cas_number,substance_name,flag,Product Total Number of Requests
0,20 Microns Limited,3896,12001-26-2,Mica,0,0.0
1,20 Microns Limited,3896,1309-37-1,Iron (III) Oxide,1,14.0
2,20 Microns Limited,3896,1332-58-7,Kaolin,1,21.0
3,20 Microns Limited,3896,13462-86-7,Barite (Ba(SO4)),0,0.0
4,20 Microns Limited,3896,14807-96-6,Magnesium silicate monohydrate (Talc),1,31.0

In [69]:
df_flag = df3[['company_id',"company_name",'flag']]
df_reqeust_score = df3[['company_id',"company_name",'Product Total Number of Requests']]

In [70]:
df_flag.loc[df_flag['flag'] == 1]

       company_id                           company_name  flag
1            3896                     20 Microns Limited     1
2            3896                     20 Microns Limited     1
4            3896                     20 Microns Limited     1
7            3896                     20 Microns Limited     1
9            3896                     20 Microns Limited     1
...           ...                                    ...   ...
98716       39346                            Хим Органик     1
98717       39346                            Хим Органик     1
98718        9519  Химпищеаромат (Khimpishchearomat LLC)     1
98719        9519  Химпищеаромат (Khimpishchearomat LLC)     1
98720        9519  Химпищеаромат (Khimpishchearomat LLC)     1

[16832 rows x 3 columns]

In [71]:
df_flag.to_csv('scoring_before_average.csv')

In [72]:
request_score = df_reqeust_score.pivot_table(columns=['company_id','company_name'], values='Product Total Number of Requests', aggfunc='mean').mean().reset_index()

product_density = df_flag.pivot_table(columns=['company_id','company_name'], values='flag', aggfunc='mean').mean().reset_index()

In [73]:
product_density.columns

Index(['company_id', 'company_name', 0], dtype='object')

In [74]:
product_density = product_density.rename(columns={0: 'Product Density Score'})
request_score = request_score.rename(columns={0: 'Requests Density Score'})

In [86]:
profile = product_density.merge(request_score,on=['company_id','company_name'])
profile=profile.rename(columns={"company_name": 'company'})
profile

,company_id,company,Product Density Score,Requests Density Score
0,86,STOCKMEIER Chemie GmbH & Co. KG,0.576271,71.216102
1,101,Harold Scholz & Co. GmbH,0.400000,39.400000
2,102,Count Energy Distribution Ltd,0.846154,122.461538
3,109,Goodpack Europe,0.000000,0.000000
4,126,Perstorp Group,0.157895,7.473684
...,...,...,...,...
1980,63854,Bang&Bonsomer Group Oy,0.776316,144.210526
1981,63878,IMPOCOLOR - PRODUTOS QUÍMICOS SA,0.000000,0.000000
1982,63889,SICHUAN HANWANG INORGANIC SALT CHEMICAL INDUST...,0.500000,7.500000
1983,63922,Norse Biotech AS,0.000000,0.000000
1984,63955,Apeks Grup,1.000000,257.000000

In [91]:
profile = profile.drop(columns=['company_id'])
profile

,company,Product Density Score,Requests Density Score
0,STOCKMEIER Chemie GmbH & Co. KG,0.576271,71.216102
1,Harold Scholz & Co. GmbH,0.400000,39.400000
2,Count Energy Distribution Ltd,0.846154,122.461538
3,Goodpack Europe,0.000000,0.000000
4,Perstorp Group,0.157895,7.473684
...,...,...,...
1980,Bang&Bonsomer Group Oy,0.776316,144.210526
1981,IMPOCOLOR - PRODUTOS QUÍMICOS SA,0.000000,0.000000
1982,SICHUAN HANWANG INORGANIC SALT CHEMICAL INDUST...,0.500000,7.500000
1983,Norse Biotech AS,0.000000,0.000000
1984,Apeks Grup,1.000000,257.000000

In [92]:
profile.to_csv('Scores.csv')

In [41]:
new =pd.read_csv("Query_1.csv")
new

,company,in_trial,has_signed_up,company_top_500_product_count,company_top_500_request_count,total_substance_request_count_based_on_company_substances,total_substance_offers_count_based_on_company_substances,avg_requests_per_product,market_share_requests,market_request_to_offer_cr,cas_list
0,VladaChem GmbH,No,Yes,7655,2192,68507,14395,0,0.03,0.19,"{598-72-1,1000-05-1,100-01-6,1000164-43-1,100-..."
1,Traditem GmbH,No,Yes,869,1699,56820,13001,2,0.03,0.23,"{127-18-4,9000-01-5,9003-27-4,7558-80-7,8001-2..."
2,Penta Italia Export SRL,No,Yes,656,721,55930,13450,1,0.01,0.24,"{141-43-5,10034-99-8,100-36-7,10043-01-3,10043..."
3,Häffner GmbH & Co. KG,No,Yes,833,2881,55305,12719,3,0.05,0.23,"{97489-15-1,1310-73-2,7647-14-5,29911-27-1,766..."
4,AG Chemi Group,No,No,2424,457,55089,12764,0,0.01,0.23,"{617-48-1,61791-14-8,541-02-6,123-86-4,68603-4..."
...,...,...,...,...,...,...,...,...,...,...,...
1488,Chem2Market GmbH,No,No,47,6,0,0,0,-1.00,0.00,"{68650-43-1,68915-99-1,90063-37-9,68990-74-9,7..."
1489,SAFIC-ALCAN RUS,No,No,18,0,0,0,0,-1.00,0.00,{64706-30-5}
1490,MHX SOLUTIONS LTD,No,No,1,0,0,0,0,-1.00,0.00,{7440-25-7}
1491,Methatem,No,No,1,1,0,0,1,-1.00,0.00,{107-31-3}
1492,Chemconserve BV,No,No,1,0,0,0,0,-1.00,0.00,{791-28-6}

In [94]:
merged = new.merge(profile, on='company', how='left')
merged.to_csv("Accumaled_score.csv")

In [95]:
merged

,company,in_trial,has_signed_up,company_top_500_product_count,company_top_500_request_count,total_substance_request_count_based_on_company_substances,total_substance_offers_count_based_on_company_substances,avg_requests_per_product,market_share_requests,market_request_to_offer_cr,cas_list,Product Density Score,Requests Density Score
0,VladaChem GmbH,No,Yes,7655,2192,68507,14395,0,0.03,0.19,"{598-72-1,1000-05-1,100-01-6,1000164-43-1,100-...",0.037832,2.492847
1,Traditem GmbH,No,Yes,869,1699,56820,13001,2,0.03,0.23,"{127-18-4,9000-01-5,9003-27-4,7558-80-7,8001-2...",0.370213,31.567376
2,Penta Italia Export SRL,No,Yes,656,721,55930,13450,1,0.01,0.24,"{141-43-5,10034-99-8,100-36-7,10043-01-3,10043...",0.659763,67.417160
3,Häffner GmbH & Co. KG,No,Yes,833,2881,55305,12719,3,0.05,0.23,"{97489-15-1,1310-73-2,7647-14-5,29911-27-1,766...",0.532294,48.534521
4,AG Chemi Group,No,No,2424,457,55089,12764,0,0.01,0.23,"{617-48-1,61791-14-8,541-02-6,123-86-4,68603-4...",0.288608,26.606329
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,Chem2Market GmbH,No,No,47,6,0,0,0,-1.00,0.00,"{68650-43-1,68915-99-1,90063-37-9,68990-74-9,7...",0.000000,0.000000
1496,SAFIC-ALCAN RUS,No,No,18,0,0,0,0,-1.00,0.00,{64706-30-5},0.000000,0.000000
1497,MHX SOLUTIONS LTD,No,No,1,0,0,0,0,-1.00,0.00,{7440-25-7},0.000000,0.000000
1498,Methatem,No,No,1,1,0,0,1,-1.00,0.00,{107-31-3},0.000000,0.000000
1499,Chemconserve BV,No,No,1,0,0,0,0,-1.00,0.00,{791-28-6},0.000000,0.000000