In [17]:
import pandas as pd
import numpy as np
from pandas import Series
from pandas import DataFrame

### Q 1.1
Modify Dataframe named dfby replacing each NAN value with previous non NA value.

In [35]:
df = df.fillna(method='ffill')

### Q 1.2
Add a new column diff which is difference between min and max values in that row.

In [37]:

df['diff'] = df[df.columns].max(axis=1) - df[df.columns].min(axis=1)

   P1  Q1  W1  P2  Q2   W2  P3  Q3  W3  diff
0   1  -1   2   3   0 -4.0  -4   4   0   8.0
1   2  -5   8   9   3 -4.0  -8   9   6  17.0
2  -4  -5   3   4   5 -6.0  -7   8   8  15.0

### Q 1.3
Given a series of numeric values that may repeat find values that repeat the most number of times.

In [44]:
freq = ser.value_counts()
print("Printing the frequency")
freq
freq.to_list()

Printing the frequency

[4, 2, 2, 2, 1, 1, 1]