In [129]:
# Importing Libraries
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import re
warnings.simplefilter("ignore")

In [130]:
## Load Dataset
df = pd.read_csv('Project Parking Data 2.csv')

df.shape

(380639, 7)

In [131]:
df.head()

,Make,Colour,Issue Date,Issue Time,Contravention Code,Location,PA_Details
0,0,NaN,q5,11:48,1,Blenheim Road,1464
1,0,NaN,q5,16:48,12,Geere Road,1464
2,Ford,Other,q5,13:06,12,Jupp Road West,999
3,Alfa Romeo,Blue,q5,13:10,2,Aaron Hill Road,999
4,Alfa Romeo,Bronze,q5,13:13,47,Aaron Hill Road,999

In [132]:
df['Issue Time'] = df['Issue Time'].str.split(':').str[0]
df.head()

,Make,Colour,Issue Date,Issue Time,Contravention Code,Location,PA_Details
0,0,NaN,q5,11,1,Blenheim Road,1464
1,0,NaN,q5,16,12,Geere Road,1464
2,Ford,Other,q5,13,12,Jupp Road West,999
3,Alfa Romeo,Blue,q5,13,2,Aaron Hill Road,999
4,Alfa Romeo,Bronze,q5,13,47,Aaron Hill Road,999

remove test states from location
remove cides with W
make 0 is invalid

In [133]:
df['Contravention Code'].unique().shape

(136,)

In [134]:
df['Contravention Code'].unique()

array(['1', '12', '2', '47', '6', '30', '86', '83', '21', '62', '92',
       '165', '01o', '99', '25', '19', '87', '11u', '48', '62g', '01a',
       '20', '16', '40', '05u', '27', '61', '82', '55', '85', '26', '23c',
       '165)', '80', '01o)', '11u)', 'W12', 'W62', '14', '23', '95',
       '23g', '54', '91', '5', '22', '81', '45', '73u', 'W02', '24',
       '82u', 'W01', '11', '35', '73', '80u', 'W90', 'W49', 'W23', 'W35',
       'W56', '62g)', 'W57', '5u)', '18', '49', '23s', '56', '28', '61g',
       '8', 'W91', 'W20', '4', '63', '10', 'W87', '23e', '71', '23p',
       'W05', 'W22', '61g)', 'W26', 'W11', 'W82', '89', '70', 'W27',
       '232', 'W10', 'W24', 'W54', 'W63', 'W61', 'W99', '96', '43', 'W30',
       'W25', '23r', 'W19', 'W92', 'W40', '164', 'W16', '73u)', 'W06',
       'W89', 'W45', 'W31', '9', '23d', '36', 'W21', 'W47', 'W08', 'W01A',
       'W48', 'W41', 'W46', 'W09', 'W42', '7', 'W04', 'W93', 'W14', 'W83',
       'W73', '93', 'W70', 'W55', '57', '82u)', 'W95'], dtype=object)

In [135]:
df = df[~df['Contravention Code'].str.contains('W')]

In [136]:
df = df[~df['Location'].str.contains('Test')]

In [137]:
df['Contravention Code'].unique().shape

(81,)

In [138]:
df['Contravention Code'].unique()

array(['1', '12', '2', '47', '6', '30', '86', '83', '21', '62', '92',
       '165', '01o', '99', '25', '19', '87', '11u', '48', '62g', '01a',
       '20', '16', '40', '05u', '27', '61', '82', '55', '85', '26', '23c',
       '165)', '80', '01o)', '11u)', '14', '23', '95', '23g', '54', '91',
       '5', '22', '81', '45', '73u', '24', '82u', '11', '35', '73', '80u',
       '62g)', '5u)', '18', '49', '23s', '56', '28', '61g', '8', '4',
       '63', '10', '23e', '71', '23p', '61g)', '89', '232', '43', '23r',
       '164', '73u)', '96', '36', '7', '93', '57', '82u)'], dtype=object)

In [139]:
df['Contravention Code'].unique().shape

(81,)

In [140]:
df['Contravention Code']=df['Contravention Code'].str.replace("u","")
df['Contravention Code']=df['Contravention Code'].str.replace("g","")
df['Contravention Code']=df['Contravention Code'].str.replace("a","")
df['Contravention Code']=df['Contravention Code'].str.replace("c","")
df['Contravention Code']=df['Contravention Code'].str.replace("o","")
df['Contravention Code']=df['Contravention Code'].str.replace(")","")
df['Contravention Code']=df['Contravention Code'].str.replace("d","")
df['Contravention Code']=df['Contravention Code'].str.replace("p","")
df['Contravention Code']=df['Contravention Code'].str.replace("e","")
df['Contravention Code']=df['Contravention Code'].str.replace("s","")
df['Contravention Code']=df['Contravention Code'].str.replace("r","")
df['Contravention Code'].unique()

array(['1', '12', '2', '47', '6', '30', '86', '83', '21', '62', '92',
       '165', '01', '99', '25', '19', '87', '11', '48', '20', '16', '40',
       '05', '27', '61', '82', '55', '85', '26', '23', '80', '14', '95',
       '54', '91', '5', '22', '81', '45', '73', '24', '35', '18', '49',
       '56', '28', '8', '4', '63', '10', '71', '89', '232', '43', '164',
       '96', '36', '7', '93', '57'], dtype=object)

In [141]:
df['Contravention Code'].unique().shape

(60,)

In [142]:
df.shape

(379456, 7)

In [143]:
df.head()

,Make,Colour,Issue Date,Issue Time,Contravention Code,Location,PA_Details
0,0,NaN,q5,11,1,Blenheim Road,1464
1,0,NaN,q5,16,12,Geere Road,1464
2,Ford,Other,q5,13,12,Jupp Road West,999
3,Alfa Romeo,Blue,q5,13,2,Aaron Hill Road,999
4,Alfa Romeo,Bronze,q5,13,47,Aaron Hill Road,999

In [144]:
df.dropna(inplace=True)
df.shape

(375880, 7)

In [145]:
df.drop(df.index[df['Make'] == 0], inplace = True)
df.shape

(375880, 7)

In [163]:
df['PA_Details']=df['PA_Details'].str.replace("PN","")
df['PA_Details']=df['PA_Details'].str.replace(")","")
df.drop(df.index[df['PA_Details'] == 'icpsadmin'], inplace = True)

In [164]:
df['PA_Details'].unique()

array(['999', '1438', '3289', '1281', '3287', '1252', '3293', '1309',
       '1498', '3301', '1482', '3296', '1381', '1146', '1490', '3216',
       '1453', '1458', '1419', '1478', '1481', '1142', '1387', '3302',
       '3295', '3303', '3300', '1440', '1313', '1522', '3235', '1418',
       '3247', '3292', '3191', '1519', '1456', '1306', '3237', '1499',
       '3291', '3299', '1463', '3156', '1278', '3264', '3283', '1434',
       '1473', '3225', '1489', '3298', '1468', '1461', '1485', '1442',
       '1410', '3266', '1518', '1520', '1523', '1145', '1491', '1351',
       '1462', '1454', '1515', '1464', '1516', '1433', '1503', '1506',
       '1514', '1517', '1475', '1331', '1508', '1507', '1435', '1409',
       '1401', '1486', '3260', '1407', '3269', '1424', '3245', '1484',
       '3239', '1466', '3278', '1488', '3229', '3179', '1465', '1247',
       '1494', '1521', '1502', '1524', '1505', '1497', '3285', '1492',
       '1495', '1493', '3255', '3268', '1447', '1500', '1457', '1035',
       '1496', '3272', '3286', '1318', '1510', '992', '3288', '1504',
       '1509', '3318', '3326', '3323', '3316', '3319', '1511', '1512',
       '3329', '3328', '3324', '3254', '1513', '3327', '3154', '3261',
       '3258', '3236', '1308', '1437', '3270', '1483', '3228', '1455',
       '3262', '1487', '1432', '3271', '3276', '3275', '1501', '3330',
       '3265', '3274', '3273', '3284', '3277', '3205', '1430', '3281',
       '3263', '3294', '3290', '3197', '3280', '999999999', '3317',
       '9999', '3165', '3331', '1460', '777'], dtype=object)

In [165]:
df.head(20)

,Make,Colour,Issue Date,Issue Time,Contravention Code,Location,PA_Details
2,Ford,Other,q5,13,12,Jupp Road West,999
3,Alfa Romeo,Blue,q5,13,2,Aaron Hill Road,999
4,Alfa Romeo,Bronze,q5,13,47,Aaron Hill Road,999
5,Mercedes Benz,Black,q5,11,1,Goldsmith Avenue,1438
6,Volkswagen,Other,q5,11,1,Shelley Avenue,1438
7,Toyota,Silver,q5,12,6,High Street North,1438
8,Vauxhall,Other,q5,14,6,Stanley Road E12,1438
9,Mercedes Benz,Silver,q5,14,1,Shelley Avenue,1438
10,Mercedes Benz,Black,q5,15,6,High Street North,1438
11,Volkswagen,Other,q5,16,30,High Street North,1438
12,Chevrolet,Silver,q5,8,12,Alexandra Road,3289
13,Hyundai,Red,q5,11,1,Lathom Road,1281
14,BMW,Other,q5,11,1,Lathom Road,1281
15,Mercedes Benz,White,q5,12,1,Park Road E6,1281
16,Vauxhall,Grey,q5,14,1,Tudor Road,1281
17,Mercedes Benz,Grey,q5,15,1,Raymond Road,1281
18,Mercedes Benz,Red,q5,18,1,Redclyffe Road,1281
19,Ford,Other,q5,14,1,High Street North,3287
20,Volkswagen,Silver,q5,15,86,Madge Gill Way Car Park,3287
21,Audi,Black,q5,15,83,Madge Gill Way Car Park,3287

In [166]:
df.to_csv('Processed.csv')

In [181]:
df_categorical = df[['Make','Colour',	'Issue Date',	'Location']]
df_numerical = df[['Issue Time','Contravention Code','PA_Details']]

In [182]:
df_categorical.head(), df_numerical.head()

(            Make  Colour Issue Date          Location
 2           Ford   Other         q5    Jupp Road West
 3     Alfa Romeo    Blue         q5   Aaron Hill Road
 4     Alfa Romeo  Bronze         q5   Aaron Hill Road
 5  Mercedes Benz   Black         q5  Goldsmith Avenue
 6     Volkswagen   Other         q5    Shelley Avenue,
   Issue Time Contravention Code PA_Details
 2         13                 12        999
 3         13                  2        999
 4         13                 47        999
 5         11                  1       1438
 6         11                  1       1438)

In [183]:
df_numerical.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375872 entries, 2 to 380638
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Issue Time          375872 non-null  object
 1   Contravention Code  375872 non-null  object
 2   PA_Details          375872 non-null  object
dtypes: object(3)
memory usage: 11.5+ MB

In [184]:
df_numerical['Issue Time']=df_numerical['Issue Time'].astype(str).astype(int)
df_numerical['Contravention Code']=df_numerical['Contravention Code'].astype(str).astype(int)
df_numerical['PA_Details']=df_numerical['PA_Details'].astype(str).astype(int)

df_numerical.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375872 entries, 2 to 380638
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Issue Time          375872 non-null  int64
 1   Contravention Code  375872 non-null  int64
 2   PA_Details          375872 non-null  int64
dtypes: int64(3)
memory usage: 11.5 MB