In [1]:
# Importing Libraries
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter("ignore")

In [3]:
## Load Dataset
df = pd.read_csv('Project Parking Data 2.csv')

df.shape

(380639, 7)

In [4]:
df.head()

,Make,Colour,Issue Date,Issue Time,Contravention Code,Location,PA_Details
0,Toyota,Unspecified,01/01/2019,08:28,1,Lathom Road,PN1424
1,Volkswagen,Silver,01/01/2019,09:22,16,Helena Road,PN1424
2,Ford,Black,01/01/2019,10:10,1,Hartington Road,PN1424
3,BMW,Grey,01/01/2019,10:47,62,Alnwick Road,PN1424
4,Audi,Silver,01/01/2019,13:52,165),St. Georges Square,PN1424