# Visualization

# Data Wrangling and Cleaning

In [81]:
# Data Wrangling and Cleaning
# Importing libraries
import sqlite3
import pandas as pd
# Creating sqlite connection.
cnx = sqlite3.connect('Carsupdate.db')
# Reading data in to dataframe
df = pd.read_sql_query("SELECT * FROM cars", cnx)

In [99]:
#Checking Null values
print(df.isnull().sum())

id              0
brand           0
model           0
website         0
price           0
mileage         0
owners          0
depreciation    0
coe_left        0
link            0
reg_date        0
coe_year        0
coe_months      0
dtype: int64

In [83]:
cnx2 = sqlite3.connect('cars.db')

df2 = pd.read_sql_query("SELECT * FROM cars", cnx2)
df2.head()

,title,price,mileage,owners,depreciation,reg_date,coe_left,link
0,MERCEDES BENZ GLA180 (R18 BI),77000,68000,1,19896,5/1/2016,3.224658,https://www.motorist.sg/used-car/4676/mercedes...
1,LEXUS ES300H CVT,60800,156000,1,20152,23/10/2014,2.021918,https://www.motorist.sg/used-car/4675/lexus-es...
2,MERCEDES BENZ C 180 CGI,83800,131240,1,10482,12/10/2010,2.010959,https://www.motorist.sg/used-car/4674/mercedes...
3,PEUGEOT 3008 ACTIVE PURETECH 1.2 EAT6,79800,35000,1,14056,14/12/2017,5.164384,https://www.motorist.sg/used-car/4673/peugeot-...
4,HYUNDAI DM SANTA FE 2.4 GLS AT 4WD SR,70800,70731,1,19050,27/8/2015,2.865753,https://www.motorist.sg/used-car/4672/hyundai-...

In [84]:
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link
0,1,Mercedes-Benz,SLK-Class SLK250 (COE till 03/2032),Carro,170888,55000,3 Owners,"$14,990/yr",10 Oct 12 (9yrs 5mths left),/cars/mercedes-benz/slk/mercedes-benz-slk-clas...
1,2,Audi,Q5 2.0A TFSI Quattro,Carro,97888,118480,1 Owner,"$19,790/yr",24 Aug 16 (3yrs 10mths left),/cars/audi/q5/audi-q5-2-0a-tfsi-quattro/DR8WRP
2,3,Toyota,Wish 1.8A,Carro,83888,41610,2 Owners,"$14,500/yr",23 Nov 17 (5yrs 1mths left),/cars/toyota/wish/toyota-wish-1-8a/DO85O7
3,4,Audi,S5 Sportback 3.0A TFSI Quattro (COE till 02/2030),Carro,116888,163562,5 Owners,"$15,870/yr",22 Sep 10 (7yrs 4mths left),/cars/audi/s5/audi-s5-sportback-3-0a-tfsi-quat...
4,5,Mercedes-Benz,GLC-Class GLC300 Mild Hybrid AMG Line 4MATIC,Carro,255888,41962,1 Owner,"$27,810/yr",15 Oct 20 (7yrs 11mths left),/cars/mercedes-benz/glc300/mercedes-benz-glc-c...

In [85]:
# Removing string part from Owners and Depreciation 
df['owners'] = df['owners'].map(lambda x: x.lstrip('').rstrip('Owners'))
df['depreciation'] = df['depreciation'].map(lambda x: x.lstrip('$').rstrip('/yr'))
df['depreciation'] = df['depreciation'].str.replace(',','')
df['depreciation'] = df['depreciation'].map(lambda x: x.lstrip('Paper Value : $').rstrip(''))
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link
0,1,Mercedes-Benz,SLK-Class SLK250 (COE till 03/2032),Carro,170888,55000,3,14990,10 Oct 12 (9yrs 5mths left),/cars/mercedes-benz/slk/mercedes-benz-slk-clas...
1,2,Audi,Q5 2.0A TFSI Quattro,Carro,97888,118480,1,19790,24 Aug 16 (3yrs 10mths left),/cars/audi/q5/audi-q5-2-0a-tfsi-quattro/DR8WRP
2,3,Toyota,Wish 1.8A,Carro,83888,41610,2,14500,23 Nov 17 (5yrs 1mths left),/cars/toyota/wish/toyota-wish-1-8a/DO85O7
3,4,Audi,S5 Sportback 3.0A TFSI Quattro (COE till 02/2030),Carro,116888,163562,5,15870,22 Sep 10 (7yrs 4mths left),/cars/audi/s5/audi-s5-sportback-3-0a-tfsi-quat...
4,5,Mercedes-Benz,GLC-Class GLC300 Mild Hybrid AMG Line 4MATIC,Carro,255888,41962,1,27810,15 Oct 20 (7yrs 11mths left),/cars/mercedes-benz/glc300/mercedes-benz-glc-c...

In [86]:
# Converting Strings to integer columns (price	mileage	owners	depreciation)

df["price"] = pd.to_numeric(df["price"])
df["mileage"] = pd.to_numeric(df["mileage"])
df["owners"] = pd.to_numeric(df["owners"])
df["depreciation"] = pd.to_numeric(df["depreciation"])
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link
0,1,Mercedes-Benz,SLK-Class SLK250 (COE till 03/2032),Carro,170888,55000,3,14990,10 Oct 12 (9yrs 5mths left),/cars/mercedes-benz/slk/mercedes-benz-slk-clas...
1,2,Audi,Q5 2.0A TFSI Quattro,Carro,97888,118480,1,19790,24 Aug 16 (3yrs 10mths left),/cars/audi/q5/audi-q5-2-0a-tfsi-quattro/DR8WRP
2,3,Toyota,Wish 1.8A,Carro,83888,41610,2,14500,23 Nov 17 (5yrs 1mths left),/cars/toyota/wish/toyota-wish-1-8a/DO85O7
3,4,Audi,S5 Sportback 3.0A TFSI Quattro (COE till 02/2030),Carro,116888,163562,5,15870,22 Sep 10 (7yrs 4mths left),/cars/audi/s5/audi-s5-sportback-3-0a-tfsi-quat...
4,5,Mercedes-Benz,GLC-Class GLC300 Mild Hybrid AMG Line 4MATIC,Carro,255888,41962,1,27810,15 Oct 20 (7yrs 11mths left),/cars/mercedes-benz/glc300/mercedes-benz-glc-c...

In [87]:
df2.head()

,title,price,mileage,owners,depreciation,reg_date,coe_left,link
0,MERCEDES BENZ GLA180 (R18 BI),77000,68000,1,19896,5/1/2016,3.224658,https://www.motorist.sg/used-car/4676/mercedes...
1,LEXUS ES300H CVT,60800,156000,1,20152,23/10/2014,2.021918,https://www.motorist.sg/used-car/4675/lexus-es...
2,MERCEDES BENZ C 180 CGI,83800,131240,1,10482,12/10/2010,2.010959,https://www.motorist.sg/used-car/4674/mercedes...
3,PEUGEOT 3008 ACTIVE PURETECH 1.2 EAT6,79800,35000,1,14056,14/12/2017,5.164384,https://www.motorist.sg/used-car/4673/peugeot-...
4,HYUNDAI DM SANTA FE 2.4 GLS AT 4WD SR,70800,70731,1,19050,27/8/2015,2.865753,https://www.motorist.sg/used-car/4672/hyundai-...

In [88]:
# Splitting coe_left in to individual Registration and coe_left columns
df[['reg_date','coe_left']] = df.coe_left.str.split("(",expand=True)

In [89]:
# Changing coe_left from string object to Date 
df['coe_left'] = df['coe_left'].map(lambda x: x.lstrip('').rstrip('mths left)'))
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,reg_date
0,1,Mercedes-Benz,SLK-Class SLK250 (COE till 03/2032),Carro,170888,55000,3,14990,9yrs 5,/cars/mercedes-benz/slk/mercedes-benz-slk-clas...,10 Oct 12
1,2,Audi,Q5 2.0A TFSI Quattro,Carro,97888,118480,1,19790,3yrs 10,/cars/audi/q5/audi-q5-2-0a-tfsi-quattro/DR8WRP,24 Aug 16
2,3,Toyota,Wish 1.8A,Carro,83888,41610,2,14500,5yrs 1,/cars/toyota/wish/toyota-wish-1-8a/DO85O7,23 Nov 17
3,4,Audi,S5 Sportback 3.0A TFSI Quattro (COE till 02/2030),Carro,116888,163562,5,15870,7yrs 4,/cars/audi/s5/audi-s5-sportback-3-0a-tfsi-quat...,22 Sep 10
4,5,Mercedes-Benz,GLC-Class GLC300 Mild Hybrid AMG Line 4MATIC,Carro,255888,41962,1,27810,7yrs 11,/cars/mercedes-benz/glc300/mercedes-benz-glc-c...,15 Oct 20

In [90]:
df[['coe_year','coe_months']] = df.coe_left.str.split("yrs ",expand=True)
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,reg_date,coe_year,coe_months
0,1,Mercedes-Benz,SLK-Class SLK250 (COE till 03/2032),Carro,170888,55000,3,14990,9yrs 5,/cars/mercedes-benz/slk/mercedes-benz-slk-clas...,10 Oct 12,9,5
1,2,Audi,Q5 2.0A TFSI Quattro,Carro,97888,118480,1,19790,3yrs 10,/cars/audi/q5/audi-q5-2-0a-tfsi-quattro/DR8WRP,24 Aug 16,3,10
2,3,Toyota,Wish 1.8A,Carro,83888,41610,2,14500,5yrs 1,/cars/toyota/wish/toyota-wish-1-8a/DO85O7,23 Nov 17,5,1
3,4,Audi,S5 Sportback 3.0A TFSI Quattro (COE till 02/2030),Carro,116888,163562,5,15870,7yrs 4,/cars/audi/s5/audi-s5-sportback-3-0a-tfsi-quat...,22 Sep 10,7,4
4,5,Mercedes-Benz,GLC-Class GLC300 Mild Hybrid AMG Line 4MATIC,Carro,255888,41962,1,27810,7yrs 11,/cars/mercedes-benz/glc300/mercedes-benz-glc-c...,15 Oct 20,7,11

In [94]:
df["coe_year"] = df['coe_year'].str.replace('yr','')

In [100]:
df["coe_months"].unique()

array([0.41666667, 0.83333333, 0.08333333, 0.33333333, 0.91666667,
       0.25      , 0.        , 0.16666667, 0.58333333, 0.75      ,
       0.5       , 0.66666667])

In [98]:
#Replacing nan  values
df = df.fillna(0)

In [95]:
df["coe_year"] = pd.to_numeric(df["coe_year"])
df["coe_months"] = pd.to_numeric(df["coe_months"])
df['coe_months'] = df['coe_months'].div(12)
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,reg_date,coe_year,coe_months
0,1,Mercedes-Benz,SLK-Class SLK250 (COE till 03/2032),Carro,170888,55000,3,14990,9yrs 5,/cars/mercedes-benz/slk/mercedes-benz-slk-clas...,10 Oct 12,9,0.416667
1,2,Audi,Q5 2.0A TFSI Quattro,Carro,97888,118480,1,19790,3yrs 10,/cars/audi/q5/audi-q5-2-0a-tfsi-quattro/DR8WRP,24 Aug 16,3,0.833333
2,3,Toyota,Wish 1.8A,Carro,83888,41610,2,14500,5yrs 1,/cars/toyota/wish/toyota-wish-1-8a/DO85O7,23 Nov 17,5,0.083333
3,4,Audi,S5 Sportback 3.0A TFSI Quattro (COE till 02/2030),Carro,116888,163562,5,15870,7yrs 4,/cars/audi/s5/audi-s5-sportback-3-0a-tfsi-quat...,22 Sep 10,7,0.333333
4,5,Mercedes-Benz,GLC-Class GLC300 Mild Hybrid AMG Line 4MATIC,Carro,255888,41962,1,27810,7yrs 11,/cars/mercedes-benz/glc300/mercedes-benz-glc-c...,15 Oct 20,7,0.916667

In [102]:
df['coe_left']= df[['coe_year','coe_months']].sum(axis=1)

In [105]:
df["reg_date"] = df['reg_date'].str.replace(' ','')

In [108]:
df['reg_date'] = pd.to_datetime(df['reg_date'], format='%d%b%y')
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link,reg_date,coe_year,coe_months
0,1,Mercedes-Benz,SLK-Class SLK250 (COE till 03/2032),Carro,170888,55000,3,14990,9.416667,/cars/mercedes-benz/slk/mercedes-benz-slk-clas...,2012-10-10,9,0.416667
1,2,Audi,Q5 2.0A TFSI Quattro,Carro,97888,118480,1,19790,3.833333,/cars/audi/q5/audi-q5-2-0a-tfsi-quattro/DR8WRP,2016-08-24,3,0.833333
2,3,Toyota,Wish 1.8A,Carro,83888,41610,2,14500,5.083333,/cars/toyota/wish/toyota-wish-1-8a/DO85O7,2017-11-23,5,0.083333
3,4,Audi,S5 Sportback 3.0A TFSI Quattro (COE till 02/2030),Carro,116888,163562,5,15870,7.333333,/cars/audi/s5/audi-s5-sportback-3-0a-tfsi-quat...,2010-09-22,7,0.333333
4,5,Mercedes-Benz,GLC-Class GLC300 Mild Hybrid AMG Line 4MATIC,Carro,255888,41962,1,27810,7.916667,/cars/mercedes-benz/glc300/mercedes-benz-glc-c...,2020-10-15,7,0.916667

In [109]:
df.columns

Index(['id', 'brand', 'model', 'website', 'price', 'mileage', 'owners',
       'depreciation', 'coe_left', 'link', 'reg_date', 'coe_year',
       'coe_months'],
      dtype='object')

In [110]:
df2.head()

,title,price,mileage,owners,depreciation,reg_date,coe_left,link
0,MERCEDES BENZ GLA180 (R18 BI),77000,68000,1,19896,5/1/2016,3.224658,https://www.motorist.sg/used-car/4676/mercedes...
1,LEXUS ES300H CVT,60800,156000,1,20152,23/10/2014,2.021918,https://www.motorist.sg/used-car/4675/lexus-es...
2,MERCEDES BENZ C 180 CGI,83800,131240,1,10482,12/10/2010,2.010959,https://www.motorist.sg/used-car/4674/mercedes...
3,PEUGEOT 3008 ACTIVE PURETECH 1.2 EAT6,79800,35000,1,14056,14/12/2017,5.164384,https://www.motorist.sg/used-car/4673/peugeot-...
4,HYUNDAI DM SANTA FE 2.4 GLS AT 4WD SR,70800,70731,1,19050,27/8/2015,2.865753,https://www.motorist.sg/used-car/4672/hyundai-...

In [111]:
df_cleaned = df[['id', 'brand', 'model', 'website', 'price', 'mileage', 'owners',
       'depreciation', 'reg_date', 'coe_left', 'link']]

In [112]:
df_cleaned.head()

,id,brand,model,website,price,mileage,owners,depreciation,reg_date,coe_left,link
0,1,Mercedes-Benz,SLK-Class SLK250 (COE till 03/2032),Carro,170888,55000,3,14990,2012-10-10,9.416667,/cars/mercedes-benz/slk/mercedes-benz-slk-clas...
1,2,Audi,Q5 2.0A TFSI Quattro,Carro,97888,118480,1,19790,2016-08-24,3.833333,/cars/audi/q5/audi-q5-2-0a-tfsi-quattro/DR8WRP
2,3,Toyota,Wish 1.8A,Carro,83888,41610,2,14500,2017-11-23,5.083333,/cars/toyota/wish/toyota-wish-1-8a/DO85O7
3,4,Audi,S5 Sportback 3.0A TFSI Quattro (COE till 02/2030),Carro,116888,163562,5,15870,2010-09-22,7.333333,/cars/audi/s5/audi-s5-sportback-3-0a-tfsi-quat...
4,5,Mercedes-Benz,GLC-Class GLC300 Mild Hybrid AMG Line 4MATIC,Carro,255888,41962,1,27810,2020-10-15,7.916667,/cars/mercedes-benz/glc300/mercedes-benz-glc-c...

In [114]:
#Creating a cursor object using the cursor() method
cursor = cnx.cursor()

#Doping EMPLOYEE table if already exists
cursor.execute("DROP TABLE cars")
print("Table dropped... ")

Table dropped...

In [115]:
df_cleaned.to_sql(name='cars', con=cnx)

In [117]:
df = pd.read_sql_query("SELECT * FROM cars", cnx)
df.head()

,index,id,brand,model,website,price,mileage,owners,depreciation,reg_date,coe_left,link
0,0,1,Mercedes-Benz,SLK-Class SLK250 (COE till 03/2032),Carro,170888,55000,3,14990,2012-10-10 00:00:00,9.416667,/cars/mercedes-benz/slk/mercedes-benz-slk-clas...
1,1,2,Audi,Q5 2.0A TFSI Quattro,Carro,97888,118480,1,19790,2016-08-24 00:00:00,3.833333,/cars/audi/q5/audi-q5-2-0a-tfsi-quattro/DR8WRP
2,2,3,Toyota,Wish 1.8A,Carro,83888,41610,2,14500,2017-11-23 00:00:00,5.083333,/cars/toyota/wish/toyota-wish-1-8a/DO85O7
3,3,4,Audi,S5 Sportback 3.0A TFSI Quattro (COE till 02/2030),Carro,116888,163562,5,15870,2010-09-22 00:00:00,7.333333,/cars/audi/s5/audi-s5-sportback-3-0a-tfsi-quat...
4,4,5,Mercedes-Benz,GLC-Class GLC300 Mild Hybrid AMG Line 4MATIC,Carro,255888,41962,1,27810,2020-10-15 00:00:00,7.916667,/cars/mercedes-benz/glc300/mercedes-benz-glc-c...

In [2]:

# Data Wrangling and Cleaning
# Importing libraries
import sqlite3
import pandas as pd
# Creating sqlite connection.
cnx = sqlite3.connect('Carsupdate.db')
# Reading data in to dataframe
df = pd.read_sql_query("SELECT * FROM cars", cnx)
df.head()

,id,brand,model,website,price,mileage,owners,depreciation,coe_left,link
0,1,Mercedes-Benz,SLK-Class SLK250 (COE till 03/2032),Carro,170888,55000,3 Owners,"$14,990/yr",10 Oct 12 (9yrs 5mths left),/cars/mercedes-benz/slk/mercedes-benz-slk-clas...
1,2,Audi,Q5 2.0A TFSI Quattro,Carro,97888,118480,1 Owner,"$19,790/yr",24 Aug 16 (3yrs 10mths left),/cars/audi/q5/audi-q5-2-0a-tfsi-quattro/DR8WRP
2,3,Toyota,Wish 1.8A,Carro,83888,41610,2 Owners,"$14,500/yr",23 Nov 17 (5yrs 1mths left),/cars/toyota/wish/toyota-wish-1-8a/DO85O7
3,4,Audi,S5 Sportback 3.0A TFSI Quattro (COE till 02/2030),Carro,116888,163562,5 Owners,"$15,870/yr",22 Sep 10 (7yrs 4mths left),/cars/audi/s5/audi-s5-sportback-3-0a-tfsi-quat...
4,5,Mercedes-Benz,GLC-Class GLC300 Mild Hybrid AMG Line 4MATIC,Carro,255888,41962,1 Owner,"$27,810/yr",15 Oct 20 (7yrs 11mths left),/cars/mercedes-benz/glc300/mercedes-benz-glc-c...

In [3]:

# Data Wrangling and Cleaning
# Importing libraries
import sqlite3
import pandas as pd
# Creating sqlite connection.
cnx = sqlite3.connect('Carsupdate.db')
# Reading data in to dataframe
df = pd.read_sql_query("SELECT * FROM cars", cnx)

#Checking Null values
#print(df.isnull().sum())
#df.head()
# Removing string part from Owners and Depreciation 
df['owners'] = df['owners'].map(lambda x: x.lstrip('').rstrip('Owners'))
df['depreciation'] = df['depreciation'].map(lambda x: x.lstrip('$').rstrip('/yr'))
df['depreciation'] = df['depreciation'].str.replace(',','')
df['depreciation'] = df['depreciation'].map(lambda x: x.lstrip('Paper Value : $').rstrip(''))
#df.head()

# Converting Strings to integer columns (price	mileage	owners	depreciation)

df["price"] = pd.to_numeric(df["price"])
df["mileage"] = pd.to_numeric(df["mileage"])
df["owners"] = pd.to_numeric(df["owners"])
df["depreciation"] = pd.to_numeric(df["depreciation"])
# df.head()

# Splitting coe_left in to individual Registration and coe_left columns
df[['reg_date','coe_left']] = df.coe_left.str.split("(",expand=True)

# Changing coe_left from string object to Date 
df['coe_left'] = df['coe_left'].map(lambda x: x.lstrip('').rstrip('mths left)'))
# df.head()
df[['coe_year','coe_months']] = df.coe_left.str.split("yrs ",expand=True)

df["coe_year"] = df['coe_year'].str.replace('yr','')
df["coe_months"].unique()
#Replacing nan  values
df = df.fillna(0)
df["coe_year"] = pd.to_numeric(df["coe_year"])
df["coe_months"] = pd.to_numeric(df["coe_months"])
df['coe_months'] = df['coe_months'].div(12)
# df.head()
df['coe_left']= df[['coe_year','coe_months']].sum(axis=1)
df["reg_date"] = df['reg_date'].str.replace(' ','')
df['reg_date'] = pd.to_datetime(df['reg_date'], format='%d%b%y')
# df.head()

# Compiling the cleaned data
df_cleaned = df[['id', 'brand', 'model', 'website', 'price', 'mileage', 'owners',
       'depreciation', 'reg_date', 'coe_left', 'link']]
df_cleaned.head()
#Creating a cursor object using the cursor() method
cursor = cnx.cursor()

#Replacing Dirty car table with clean data
cursor.execute("DROP TABLE cars")

df_cleaned.to_sql(name='cars', con=cnx)
df = pd.read_sql_query("SELECT * FROM cars", cnx)
df.head()

Table dropped...

,index,id,brand,model,website,price,mileage,owners,depreciation,reg_date,coe_left,link
0,0,1,Mercedes-Benz,SLK-Class SLK250 (COE till 03/2032),Carro,170888,55000,3,14990,2012-10-10 00:00:00,9.416667,/cars/mercedes-benz/slk/mercedes-benz-slk-clas...
1,1,2,Audi,Q5 2.0A TFSI Quattro,Carro,97888,118480,1,19790,2016-08-24 00:00:00,3.833333,/cars/audi/q5/audi-q5-2-0a-tfsi-quattro/DR8WRP
2,2,3,Toyota,Wish 1.8A,Carro,83888,41610,2,14500,2017-11-23 00:00:00,5.083333,/cars/toyota/wish/toyota-wish-1-8a/DO85O7
3,3,4,Audi,S5 Sportback 3.0A TFSI Quattro (COE till 02/2030),Carro,116888,163562,5,15870,2010-09-22 00:00:00,7.333333,/cars/audi/s5/audi-s5-sportback-3-0a-tfsi-quat...
4,4,5,Mercedes-Benz,GLC-Class GLC300 Mild Hybrid AMG Line 4MATIC,Carro,255888,41962,1,27810,2020-10-15 00:00:00,7.916667,/cars/mercedes-benz/glc300/mercedes-benz-glc-c...