In [1]:
import pandas as pd
import matplotlib as mplt
from matplotlib import pyplot

In [3]:
whosales = pd.read_csv("Wholesale customers data.csv")

#### Aufgabe A

In [4]:
Frozen_min=whosales.Frozen.argmin()

In [5]:
Frozen_min

420

In [6]:
whosales[Frozen_min:Frozen_min+1]

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
420,1,3,4456,5266,13227,25,6818,1393

In [7]:
whosales.iloc[Frozen_min]

Channel                 1
Region                  3
Fresh                4456
Milk                 5266
Grocery             13227
Frozen                 25
Detergents_Paper     6818
Delicassen           1393
Name: 420, dtype: int64

#### Aufgabe B

In [8]:
whosales.groupby(["Channel","Region"]).sum()

                  Fresh     Milk  Grocery  Frozen  Detergents_Paper  \
Channel Region
1       1        761233   228342   237542  184512             56081
        2        326215    64519   123074  160861             13516
        3       2928269   735753   820101  771606            165990
2       1         93600   194112   332495   46514            148055
        2        138506   174625   310200   29271            159795
        3       1032308  1153006  1675150  158886            724420

                Delicassen
Channel Region
1       1            70632
        2            30965
        3           320358
2       1            33695
        2            23541
        3           191752

In [9]:
whosales.groupby(["Channel","Region"]).agg({"Frozen":"sum"})

                Frozen
Channel Region
1       1       184512
        2       160861
        3       771606
2       1        46514
        2        29271
        3       158886

#### Aufgabe C

In [10]:
channels = whosales.groupby("Channel")

print('\n','Das sind alle Channels')
total = whosales.sum()
print(total)

print('\n','Das ist Channel 1')
channel_1 = channels.get_group(1).sum()
print(channel_1)

print('\n','Das ist Channel 2')
channel_2 = channels.get_group(2).sum()
print(channel_2)

 Das sind alle Channels
Channel                 582
Region                 1119
Fresh               5280131
Milk                2550357
Grocery             3498562
Frozen              1351650
Detergents_Paper    1267857
Delicassen           670943
dtype: int64

 Das ist Channel 1
Channel                 298
Region                  748
Fresh               4015717
Milk                1028614
Grocery             1180717
Frozen              1116979
Detergents_Paper     235587
Delicassen           421955
dtype: int64

 Das ist Channel 2
Channel                 284
Region                  371
Fresh               1264414
Milk                1521743
Grocery             2317845
Frozen               234671
Detergents_Paper    1032270
Delicassen           248988
dtype: int64

In [11]:
total

Channel                 582
Region                 1119
Fresh               5280131
Milk                2550357
Grocery             3498562
Frozen              1351650
Detergents_Paper    1267857
Delicassen           670943
dtype: int64

In [72]:
channel_1/total

Channel             0.512027
Region              0.668454
Fresh               0.760534
Milk                0.403322
Grocery             0.337486
Frozen              0.826382
Detergents_Paper    0.185815
Delicassen          0.628898
dtype: float64

In [62]:
channel_2/total

Channel             0.487973
Region              0.331546
Fresh               0.239466
Milk                0.596678
Grocery             0.662514
Frozen              0.173618
Detergents_Paper    0.814185
Delicassen          0.371102
dtype: float64

In [63]:
total_difference= channel_1/total -channel_2/total
print(total_difference)

Channel             0.024055
Region              0.336908
Fresh               0.521067
Milk               -0.193357
Grocery            -0.325027
Frozen              0.652764
Detergents_Paper   -0.628370
Delicassen          0.257797
dtype: float64